{% extends "layout.html" %}

{% block body %}
<h1 class="icon fa-commenting-o">NPC</h1>

<div id="view-npc">

    <div id="base" class="nice-panel brand">
        <div class="nice-panel-heading">
            Base
        </div>
        <table class="nice-panel-content nice-table condensed bordered">
            <tr>
                <th colspan="2" class="control-wrapper">
                    <h3>{{ npc.name }}</h3>

                    <div class="nice-btn-group object-control">
                        <a href="{{ url_for('npc.edit', npc_id=npc.id) }}" class="nice-btn icon fa-cog">Edit</a>
                        <a href="{{ url_for('npc.delete', npc_id=npc.id) }}" class="nice-btn bad icon fa-trash">Delete</a>
                    </div>
                </th>
            </tr>

            {% for core in ["race", "class"] -%}
            <tr>
                <th>{{ core|capitalize }}</th>
                <td>{{ npc[core] }}</td>
            </tr>
            {%- endfor %}

            <tr>
                <th>Gender</th>
                <td>{{ npc.gender|capitalize }}</td>
            </tr>

            <tr>
                <th>Alignment</th>
                <td>{{ npc.alignment|capitalize }}</td>
            </tr>

            <tr>
                <th>Level</th>
                <td>{{ npc.level }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ npc.description|markdown }}</td>
            </tr>
        </table >
    </div>

    <div id="statistics" class="nice-panel brand">
        <div class="nice-panel-heading">
            statistics
        </div>
        <table class="nice-panel-content nice-table condensed bordered">
            <thead>
                {% for stat in items.statistics %}
                <tr>
                    <th>{{ stat.label }}</th>
                    <td>
                        {{ npc.stats[stat.name] }}
                        ({{ npc.modifiers[stat.name]|bonus }})
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


    <div id="attributes" class="nice-panel brand">
        <div class="nice-panel-heading">
            Attributes
        </div>
        <table class="nice-panel-content nice-table condensed bordered">
            <tbody>
                {% for trait in npc.traits %}
                <tr>
                    <th>{{ trait.name }}</th>
                    <td>{{ trait.description|markdown }}</td>
                </tr>
                {% endfor %}
                {% for feature in npc.features %}
                <tr>
                    <th>{{ feature.name }}</th>
                    <td>{{ feature.description|markdown }}</td>
                </tr>
                {% endfor %}
                {% if npc.languages %}
                <tr>
                    <th>Languages</th>
                    <td>
                        <div class="nice-tags-container">
                            {% for language in npc.languages %}
                            {% if language %}
                            <div class="nice-tag">
                                <span class="nice-tag-label">
                                    {{ language }}
                                </span>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </td>
                </tr>
                {% endif %}
                <tr>
                    <th>Challenge Rating</th>
                    <td>{{ npc.challenge_rating }} ({{ npc.xp }} XP)</td>
                </tr>
                <tr>
                    <th>Proficiency</th>
                    <td>{{ npc.proficiency }}</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
{% endblock body %}
