{% extends "layout.html" %}
{% block body %}
<h2 class="icon fa-gamepad">Encounter list</h2>

<table class="nice-table condensed striped bordered" id="encounter">
    <thead>
        <tr>
            <th>Name</th>
            <th>Size</th>
            <th>Challenge Rating</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for encounter in encounters %}
        <tr>
            <td>{{ encounter.name }}</td>
            <td>{{ encounter.size }}</td>
            <td>{{ encounter.challenge_rating }} / {{ encounter.xp }} XP</td>
            <td>
                <div class="nice-btn-group pull-right">
                {% if session.party_id %}
                    <a href="{{ url_for('encounter.show', encounter_id=encounter.id, party_id=session.party_id) }}" class="nice-btn icon fa-eye">View</a>
                {% else %}
                    <a href="{{ url_for('party.overview') }}" class="nice-btn icon warning fa-beer">Host a party</a>
                {% endif %}
                {% if 'dm' in request.user.role %}
                    <a href="{{ url_for('encounter.edit', encounter_id=encounter.id, action='edit') }}" class="nice-btn icon fa-cog">Edit</a>
                {% endif %}
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
    {% if 'dm' in request.user.role %}
    <tfooter>
        <tr>
            <td colspan="3"></td>
            <td>
                <div class="nice-btn-group pull-right">
                    <a href="{{ url_for('encounter.new') }}" class="nice-btn accent icon fa-plus">Create</a>
                </div>
            </td>
        </tr>
    </tfooter>
    {% endif %}
</table>
{% endblock %}
