{% extends "layout.html" %}
{% block body %}
<h2 class="icon fa-gamepad">{{ encounter.name }}</h2>

<div id="view-encounter">

    <div id="description" class="nice-panel brand">
        <div class="nice-panel-heading">
            Description
        </div>
        <table class="nice-panel-content nice-table condensed striped bordered">
            <thead>
                <tr>
                    <th colspan="2">
                        <h3>{{ encounter.name }}</h3>
                        {% if encounter.user_id == request.user.id or 'admin' in request.user.role %}
                        <div class="nice-btn-group pull-right">
                            <a href="{{ url_for('encounter.edit', encounter_id=encounter.id) }}" class="nice-btn icon fa-cog">Edit</a>
                            <a href="{{ url_for('encounter.delete', encounter_id=encounter.id) }}" class="nice-btn icon bad fa-trash">Delete</a>
                        </div>
                        {% endif %}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Description</th>
                    <td>{{ encounter.description|markdown }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div id="challenge-rating" class="nice-panel brand">
        <div class="nice-panel-heading">
            Party Encounter Challenge Rating
        </div>
        <table class="nice-panel-content nice-table condensed bordered">
            <thead>
                <tr>
                    <th>Party name</th>
                    <th>Party size</th>
                    <th class="info">Easy</th>
                    <th class="good">Medium</th>
                    <th class="warning">Hard</th>
                    <th class="bad">Deadly</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ party.name }}</td>
                    <td>{{ party.size }}</td>
                    <td class="info">{{ party.challenge.easy }} XP</td>
                    <td class="good">{{ party.challenge.medium }} XP</td>
                    <td class="warning">{{ party.challenge.hard }} XP</td>
                    <td class="bad">{{ party.challenge.deadly }} XP</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div id="modified-rating" class="nice-panel brand">
        <div class="nice-panel-heading">
            Modified Encounter Challenge Rating
        </div>
        <table class="nice-panel-content nice-table condensed bordered">
            <thead>
                <tr>
                    <th>Encounter Rating</th>
                    <th>Action</th>
                    <th>Monster Modifier</th>
                    <th>Party Modifier</th>
                    <th>Final Modifier</th>
                    <th>Modified Encounter Rating</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ encounter.challenge_rating|round(3) }} / {{ encounter.xp_rating|int }} XP</td>
                    <td><a href="{{ url_for('party.modify', action='xp', party_id=party.id, encounter_id=encounter.id) }}" class="nice-btn icon fa-trophy">Award XP</a></td>
                    <td>{{ encounter.modifier.monster }}</td>
                    <td>{{ encounter.modifier.party }}</td>
                    <td>{{ encounter.modifier.total }}</td>
                    <td{{ {
                            "class": encounter.xp_modified|classify({
                                'info': party.challenge.easy,
                                'good': party.challenge.medium,
                                'warning': party.challenge.hard,
                                'bad': party.challenge.deadly
                            }) }|xmlattr }}>
                        {{ encounter.challenge_modified }} / {{ encounter.xp_modified }} XP
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div{{ {
            "id": "initiative",
            "class": "nice-panel bad" if mode == 'combat' else "nice-panel warning"
            }|xmlattr }} >
        <div class="nice-panel-heading">
            {{ mode|capitalize }}
        </div>
        <div class="nice-panel-content">
            <form method="POST" >
                <button name="mode" value="{{ mode }}" class="hidden">Update</button>

        {% if mode == 'combat' %}

            <input type="hidden" name="initiative-dm" value="{{ initiative_dm }}" />

            {% for c in combatants %}
                <div class="nice-col-2 nice-col-mobile-4">
                    <span>{{ c.name }}</span>
                    {% set percent = c.current_hit_points * 100 / c.hit_points %}
                    {% if c.current_hit_points <= 0 %}
                        <div class="nice-progress small text-align-center muted">
                            Dead
                        </div>
                    {% else %}
                    <div{{ {
                        "class": "nice-progress small text-align-center " ~ percent|classify({
                            "bad": 16,
                            "warning": 50,
                            "good": 84
                            }) }|xmlattr }} >
                        <div class="nice-progress-fill overflow-hidden" style="width: {{ percent }}%;  height: 1.25rem;">
                            {% if percent < 33 %}
                            {{ c.current_hit_points }}
                            {% else %}
                            {{ c.current_hit_points }} / {{ c.hit_points }}
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}
                    <input name="damage-taken-{{ c.index }}" placeholder="Damage taken..." class="nice-form-control small" value="{{ c.damage_taken }}" />
                    <textarea name="notes-{{ c.index }}" placeholder="Notes..." class="nice-form-control small">{{ c.notes }}</textarea>
                    <input type="hidden" name="initiative-{{ c.index }}" value="{{ c.initiative }}" />
                </div>
            {% endfor %}
        {% else %}
                <div class="nice-col-2 nice-col-mobile-4">
                    <span>DM</span>
                    <input type="number" min="0" max="30" name="initiative-dm" placeholder="Initiative..." class="nice-form-control small" value="{{ initiative_dm }}" />
                </div>
            {% for c in combatants %}
                <input type="hidden" name="damage-taken-{{ c.index }}" value="{{ c.damage_taken }}" />
                <input type="hidden" name="notes-{{ c.index }}" value="{{ c.notes }}" />
            {% if c.type == 'pc' %}
                <div class="nice-col-2 nice-col-mobile-4">
                    <span>{{ c.name }}</span>
                    <input type="number" min="0" max="30" name="initiative-{{ c.index }}" placeholder="Initiative..." class="nice-form-control small" value="{{ c.initiative }}" />
                </div>
            {% endif %}
            {% endfor %}
        {% endif %}

                <div class="nice-btn-group pull-right">
                {% if mode == 'combat' %}
                    <button name="mode" value="initiative" class="nice-btn accent icon fa-random">Change Initiative</button>
                {% else %}
                    <button name="mode" value="combat" class="nice-btn primary icon fa-gamepad">Combat</button>
                {% endif %}
                    <button name="mode" value="{{ mode }}" class="nice-btn info icon fa-refresh">Update</button>
                </div>

            </form>
        </div>
        <div class="clearfix">&nbsp;</div>
    </div>

    <div id="monsters">
        <h3>Monsters</h3>

<div class="nice-tabs-wrapper" id="tabs">
    <ul class="nice-tabs">

{% for info in monsters|sort(attribute='monster.challenge_rating', reverse=True) %}
{% set monster = info.monster %}
        <li{{ {
                "data-name": monster.id,
                "class": "current" if loop.first else None
                }|xmlattr }}>
            <a href="#">{{ monster.name }}</a>
        </li>
{% endfor %}
    </ul>

    <ul class="nice-tab-content">

{% for info in monsters %}
{% set monster = info.monster %}

        <li{{ {
            "data-name": monster.id,
            "class": "current" if loop.first else None
            }|xmlattr }} >

<div class="monster">
    <div class="monster-info nice-panel brand">
        <div class="nice-panel-heading">
            Info
        </div>
        <table class="nice-panel-content nice-table condensed bordered">
            <thead>
                <tr>
                    <th colspan="2">
                        <h3>{{ monster.name }}{% if info.count > 1 %} x {{ info.count }}{% endif %}</h3>
                        <i>
                            {{ monster.size }}
                            {{ monster.type }},
                            {{ monster.alignment }}
                        </i>
                        <span class="badge pull-right">
                            <a href="{{ url_for('monster.edit', monster_id=monster.id) }}" class="nice-btn icon fa-cog">Edit</a>
                        </span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Level</th>
                    <td>{{ monster.level }}</td>
                </tr>
                <tr>
                    <th>Armor Class</th>
                    <td>{{ monster.armor_class }}</td>
                </tr>
                <tr>
                    <th>Hit Points</th>
                    <td>
                        {{ monster.hit_points }}
                        <i>({{ monster.hit_points_notation }})</i>
                    </td>
                </tr>
                <tr>
                    <th>Speed</th>
                    <td>
                        {% for mode, speed in monster.motion.iteritems() %}
                        {% if speed %}
                            <strong>{{ mode|capitalize }}:</strong> {{ speed }} ft.
                        {% endif %}
                        {% endfor %}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="monster-stats nice-panel brand">
        <div class="nice-panel-heading">
            Stats
        </div>
        <table class="nice-panel-content nice-table condensed bordered">
            <thead>
                <tr>
                    {% for stat in items.statistics %}
                    <th>{{ stat.label }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for stat in items.statistics %}
                    <td>
                        {{ monster.stats[stat.name] }}
                        ({{ monster.modifiers[stat.name]|bonus }})
                    </td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>

    <div class="monster-traits nice-panel brand">
        <div class="nice-panel-heading">
            Traits
        </div>
        <table class="nice-panel-content nice-table condensed bordered">
            <tbody>
                {% for trait in monster.traits %}
                <tr>
                    <th>{{ trait.name }}</th>
                    <td>{{ trait.description|markdown }}</td>
                </tr>
                {% endfor %}
                {% for feature in monster.features %}
                <tr>
                    <th>{{ feature.name }}</th>
                    <td>{{ feature.description }}</td>
                </tr>
                {% endfor %}
                {% if monster.languages %}
                <tr>
                    <th>Languages</th>
                    <td>
                        <div class="nice-tags-container">
                            {% for language in monster.languages %}
                            {% if language %}
                            <div class="nice-tag">
                                <span class="nice-tag-label">
                                    {{ language }}
                                </span>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </td>
                </tr>
                {% endif %}
                <tr>
                    <th>Challenge Rating</th>
                    <td>{{ monster.challenge_rating|round(3) }} ({{ monster.xp }} XP)</td>
                </tr>
                <tr>
                    <th>Proficiency</th>
                    <td>{{ monster.proficiency }}</td>
                </tr>
            </tbody>
        </table>
    </div>

{% if monster.multiattack %}
    <div class="monster-multiattack nice-panel brand">
        <div class="nice-panel-heading">
            Multiattack
        </div>
        <table class="nice-panel-content nice-table condensed bordered">
            {% for rotation in monster.multiattack %}
            <tr>
                <th><h4>{{ rotation.name }}</h4></th>
                <td>
                    {{ rotation.description|replace('%average%', rotation.average)|markdown }}
                    <i>{{ ('(' ~ rotation.condition ~ ')')|markdown }}</i>
                </td>
            </tr>
            <tr>
                <th>Rotation</th>
                <td>
                    <div class="nice-tags-container">
                        {% for attack in rotation.sequence %}
                        <div class="nice-tag">
                            <span class="nice-tag-label">
                                {{ attack }}
                            </span>
                        </div>
                        {% endfor %}
                    </div>
                </td>
            </tr>
            <tr>
                <th>Damage</th>
                <td>
                    <div class="nice-tags-container">
                        <div class="nice-tag">
                            <span class="nice-tag-label">
                                Average
                            </span>
                            <span class="nice-tag-badge">
                                {{ rotation.average }}
                            <span>
                        </div>
                        <div class="nice-tag accent">
                            <span class="nice-tag-label">
                                Critical average
                            </span>
                            <span class="nice-tag-badge">
                                {{ rotation.critical }}
                            <span>
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endif %}

    <div class="monster-attacks nice-panel brand">
        <div class="nice-panel-heading">
            Actions
        </div>
        {% for attack in monster.attacks %}
        <table class="nice-panel-content nice-table condensed bordered">
            <tr>
                <th><h4>{{ attack.name }}</h4></th>
                <td><i>{{ attack.description }}</i></td>
            </tr>
            <tr>
                <th>Mode</th>
                <td>{{ attack.mode }}</td>
            </tr>
            <tr>
                <th>Attack Notation</th>
                <td>{{ attack.notation }}</td>
            </tr>
            <tr>
                <th>Attack Damage</th>
                <td>
                    <div class="nice-tags-container">
                        <div class="nice-tag">
                            <span class="nice-tag-label">
                                Average
                            </span>
                            <span class="nice-tag-badge">
                                {{ attack.average }}
                            <span>
                        </div>
                        <div class="nice-tag accent">
                            <span class="nice-tag-label">
                                Critical average
                            </span>
                            <span class="nice-tag-badge">
                                {{ attack.critical }}
                            <span>
                        </div>
                    </div>
                </td>
            </tr>
            {% if attack.bonus %}
            <tr>
                <th>Attack Bonus</th>
                <td>{% if attack.bonus > 0 %}+{% endif %}{{ attack.bonus }}</td>
            </tr>
            {% endif %}
            {% if attack.spell_save_dc %}
            <tr>
                <th>Attack Save DC</th>
                <td>&ge; {{ attack.spell_save_dc }}</td>
            </tr>
            {% endif %}
            <tr>
                <th>Target</th>
                <td>{{ attack.target }}</td>
            </tr>
            <tr>
                <th>Range</th>
                <td>
                    {{ attack.reach|distance }}
                </td>
            </tr>
            {% if attack.on_hit %}
            <tr>
                <th>On Hit</th>
                <td>{{ attack.on_hit }}</td>
            </tr>
            {% endif %}
            {% if attack.on_mis %}
            <tr>
                <th>On Mis</th>
                <td>{{ attack.on_mis }}</td>
            </tr>
            {% endif %}
        </table>
        {% endfor %}
    </div>

</div>
        </li>
{% endfor %}
    </ul>
</div>
</div>

{% endblock %}
