{% extends "layout.html" %}
{% block body %}
<h2 class="icon fa-language">Languages</h2>

<table class="nice-table condensed bordered responsive">
    <thead>
        <tr>
            <th>Language</th>
            <th>Speakers</th>
            <th>Script</th>
        </tr>
    </thead>
    <tbody>
        {% for language in languages %}
        <tr>
            <td>{{ language.label }}</td>
            <td>{{ language.speakers }}</td>
            <td>{{ language.script }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
