{% extends "layout.html" %}
{% block body %}
<h2 class="icon fa-cutlery">Weapons</h2>

<table class="nice-table condensed bordered responsive">
    {% for weapon_type in ['simple', 'martial'] %}
    {% for weapon_mode in ['melee', 'ranged'] %}
    {% set weapon = weapons[weapon_type][weapon_mode] %}
    <thead>
        <tr>
            <th>{{ weapon.name }}</th>
            <th>Damage</th>
            <th>Range</th>
            <th>Cost</th>
            <th>Properties</th>
        </tr>
    </thead>
    <tbody>
        {% for item in weapon['items'] %}
        <tr>
            <td>{{ item.name }}</td>
            <td>
                {% if 'damage' in item %}
                {{ item.damage|damage }}
                {% endif %}
                {% if 'versatile' in item %}
                <br/><i>({{ item.versatile|damage }})</i>
                {% endif %}
            </td>
            <td>{{ item.range|distance }}</td>
            <td>{{ item.cost|coinage(True) }}</td>
            <td><ul>{% for prop in item.property|default([]) %}
                <li>{{ prop|capitalize }}</li>
            {% endfor %}</ul></td>
        </tr>
        {% endfor %}
    </tbody>
    {% endfor %}
    {% endfor %}
</table>

{% endblock %}
