// _adventure-league-log-edit.scss

@import '../../../../sass/view-grid';

.al-log-edit {
    @extend .view-grid;

    &__xp,
    &__acp,
    &__downtime,
    &__gold,
    &__treasure,
    &__equipment,
    &__items,
    &__renown {
        grid-column-end: span 4;
    }

    &__adventurer,
    &__rewards,
    &__session,
    &__notes,
    &__save {
        grid-column: span 6;
    }

    &__adventurer .nice-toggle-btn {
        display: block;
        margin: 0.5em;
    }

    &__acp-slow-warning,
    &__acp-switch-warning {
        display: block;
    }

    &__adventurer > .nice-panel-content > div {
        display: block;
    }

    &__treasure .current {
        font-weight: bold;
    }
}
