{% extends "layout.html" %}
{% block body %}
<h2 class="icon fa-users">Part list</h2>

<table class="nice-table condensed striped bordered hover" id="party">
    <thead>
        <tr>
            <th>Name</th>
            <th>Size</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for party in parties %}
        <tr>
            <td>{{ party.name }}</td>
            <td>{{ party.size }}</td>
            <td>
                <div class="nice-btn-group pull-right">
                    {% if encounter %}
                    <a href="{{ url_for('encounter.show', party_id=party.id, encounter_id=encounter.id) }}" class="nice-btn icon good fa-gamepad">Set for {{ encounter.name }}</a>
                    {% endif %}
                    <a href="{{ url_for('party.show', party_id=party.id) }}" class="nice-btn icon fa-eye">View</a>
                    <a href="{{ url_for('party.delete', party_id=party.id) }}" class="nice-btn icon bad fa-trash">Delete</a>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
    {% if 'dm' in request.user.role %}
    <tfooter>
        <tr>
            <td colspan="2"></td>
            <td>
                <div class="nice-btn-group pull-right">
                    <a href="{{ url_for('party.new') }}" class="nice-btn accent icon fa-plus">Create</a>
                </div>
            </td>
        </tr>
    </tfooter>
    {% endif %}
</table>
{% endblock %}
