{% extends "layout.html" %}
{% block body %}
<h2 class="icon fa-users">Party</h2>

<div class="nice-row">
    <div class="nice-col-6 nice-col-mobile-12">

<table class="nice-table condensed striped bordered hover">
    <thead>
        <tr>
            <th colspan="2">
                <h3>{{ party.name }}</h3>
                <div class="nice-btn-group pull-right">
                    <a href="{{ url_for('party.edit', party_id=party.id) }}" class="nice-btn icon fa-cog">Edit</a>
                    <a href="{{ url_for('party.delete', party_id=party.id) }}" class="nice-btn icon bad fa-trash">Delete</a>
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Dungeon Master</th>
            <td>{{ user.username }}</td>
        </tr>
        <tr>
            <th>description</th>
            <td>{{ party.description }}</td>
        </tr>
    </tbody>
</table>

    </div>
    <div class="nice-col-6 nice-col-mobile-12">

<h3>Party Encounter Challenge Rating</h3>

<table class="nice-table condensed striped bordered hover" id="party">
    <thead>
        <tr>
            <th>Party size</th>
            <th>Challenge modifier</th>
            <th class="info">Easy</th>
            <th class="good">Medium</th>
            <th class="warning">Hard</th>
            <th class="bad">Deadly</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ party.size }}</td>
            <td>{{ party.modifier }}</td>
            <td class="info">{{ party.easy }}XP</td>
            <td class="good">{{ party.medium }}XP</td>
            <td class="warning">{{ party.hard }}XP</td>
            <td class="bad">{{ party.deadly }}XP</td>
        </tr>
    </tbody>
</table>

    </div>
</div>

<h3>Individual Challenge Rating</h3>

<table class="nice-table condensed striped bordered hover" id="character">
    <thead>
        <tr>
            <th>Character Level</th>
            <th>Level</th>
            <th>Easy</th>
            <th>Medium</th>
            <th>Hard</th>
            <th>Deadly</th>
            <th>Modify party</th>
        </tr>
    </thead>
    <tbody>
        {% for character in characters %}
        <tr>
            <td>{{ character.name }}</td>
            <td>{{ character.level }}</td>
            <td class="info">{{ character.easy }}XP</td>
            <td class="good">{{ character.medium }}XP</td>
            <td class="warning">{{ character.hard }}XP</td>
            <td class="bad">{{ character.deadly }}XP</td>
            <td>
                <div class="nice-btn-group pull-right">
                    <a href="{{ url_for('character.show', character_id=character.id) }}" class="nice-btn icon fa-eye">View</a>
                    <a href="{{ url_for('party.modify', party_id=party.id, action='del', character_id=character.id) }}" class="nice-btn bad icon fa-times">Remove</a>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
    <tfooter>
        <tr>
            <td colspan="6"></td>
            <td>
                <div class="nice-btn-group pull-right">
                    <a href="{{ url_for('character.overview', party_id=party.id) }}" class="nice-btn accent icon fa-plus">Add Character</a>
                </div>
            </td>
        </tr>
    </tfooter>
</table>
{% endblock %}
