{% extends "layout.html" %}
{% block body %}
{% if campaign.id %}
<h2 class="icon fa-pencil">Campaign</h2>

<form action="{{ url_for('campaign.edit', obj_id=campaign.id) }}" method="post">
{% else %}
<h2 class="icon fa-plus">Campaign</h2>

<form action="{{ url_for('campaign.new') }}" method="post">
{% endif %}
    <button name="button" value="save" class="hidden">Hidden</button>

<div class="nice-row">
    <div class="nice-col-12 nice-col-mobile-12">

<div class="nice-panel gray">
    <div class="nice-panel-heading">
        Description
    </div>
    <div class="nice-panel-content">
        <div class="nice-form-group">

            <div class="nice-control-group">
                <span class="nice-input-addon">
                    Name
                </span>
                <input type="text" class="nice-form-control" name="campaign.name" value="{{ campaign.name }}" />
            </div>

            <div class="nice-control-group">
                <span class="nice-input-addon">
                    Description
                </span>
                <textarea class="nice-form-control" name="campaign.description" rows="8">{{ campaign.description }}</textarea>
            </div>

            <div class="nice-control-group">
                <span class="nice-input-addon">
                    Story
                </span>
                <textarea class="nice-form-control" name="campaign.story" rows="25">{{ campaign.story }}</textarea>
            </div>
        </div>
    </div>
    <div class="nice-panel-heading">
        <div class="nice-btn-group pull-right" style="z-index: 1000">
            <button name="button" value="cancel" class="nice-btn muted icon fa-ban">Cancel</button>
            <button name="button" value="update" class="nice-btn info icon fa-refresh">Update</button>
            <button name="button" value="save" class="nice-btn primary icon fa-save">Save</button>
        </div>
        <div class="clearfix"></div>
    </div>
</div>


</form>

    </div>
</div>
{% endblock %}
