{% extends "layout.html" %}
{% block body %}
<div id="campaign">
    <div id="title">
        <h1 class="icon fa-gamepad">{{ campaign.name }}</h1>
    </div>

    <div id="description" class="nice-panel brand">
        <div class="nice-panel-heading">
            Description
        </div>
        <div class="nice-panel-content">
            {{ campaign.description|markdown }}
        </div>
    </div>

    <div id="story" class="nice-panel brand">
        <div class="nice-panel-heading">
            Story
        </div>
        <div class="nice-panel-content">
            {{ campaign.story|md_internal_links|markdown|named_headers }}
        </div>
    </div>

    {% if campaign.user_id == request.user.id or 'admin' in request.user.role %}
    <div id="control" class="nice-panel brand">
        <div class="nice-panel-heading">
                Control
        </div>
        <div class="nice-panel-content">
            <a href="{{ url_for('campaign.edit', campaign_id=campaign.id) }}" class="nice-btn icon fa-cog">Edit</a>
            <a href="{{ url_for('campaign.delete', campaign_id=campaign.id) }}" class="nice-btn icon bad fa-trash">Delete</a>
        </div>
    </div>
    {% endif %}

    <div id="toc" class="nice-panel brand">
        <div class="nice-panel-heading">
            Table of Content
        </div>
        <div class="nice-panel-content">
            <ul class="nice-menu stacked">
            {%- for item in campaign.toc recursive %}
                <li><a href="#{{ item.title|sanitize }}">{{ item.title }}</a>
                {%- if item.children -%}
                    <ul>{{ loop(item.children) }}</ul>
                {%- endif %}</li>
            {%- endfor %}
            </ul>
        </div>
    </div>

    <div id="info" class="nice-panel brand">
        <div class="nice-panel-heading">
            Info
        </div>
        <div class="nice-panel-content">
            <div class="nice-menu position-fixed position-top">
        {% for item in campaign.story|linked_objects %}

<div id="{{ item.type }}-{{ item.id }}" data-link="{{ item.url }}" class="nice-panel info hidden">
    <div class="nice-panel-heading">
        {{ item.data.name }}
    </div>
    <div class="nice-panel-content">
        Hello
    </div>
</div>

        {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
