// _adventure-league-log-edit.scss

@import 'view-grid';

.adventure-league-log-edit {
    @extend .view-grid;

    > .adventure-league-log-edit__adventurer {
        grid-column-end: span 6;

        > .nice-panel-content > div {
            display: block;
        }
    }

    .adventure-league-log-edit__session {
            grid-column-end: span 6;
    }

    .adventure-league-log-edit__points,
    .adventure-league-log-edit__downtime,
    .adventure-league-log-edit__renown {
        grid-column-end: span 3;
    }

    .adventure-league-log-edit__rewards,
    .adventure-league-log-edit__gold,
    .adventure-league-log-edit__treasure,
    .adventure-league-log-edit__equipment,
    .adventure-league-log-edit__items,
    .adventure-league-log-edit__notes {
        grid-column: span 6;
    }

    .adventure-league-log-edit__treasure {
        .current {
            font-weight: bold;
        }
    }

    .adventure-league-log-edit__save {
        grid-column-end: span 6;
    }

}