// _armor-label.scss

.armor-label {
    > strong:after {
        content: ' ';
    }

    > .armor-label__info span {
        > strong:after {
            content: ' ';
        }

        &:before {
            content: ', ';
        }

        &:first-child:before {
            content: normal;
        }
    }
}