// _edit-party.scss

@import 'widget-grid';

.party-edit {
    @extend .widget-grid;

    &__challenge {
        table {
            th {
                text-align: center;
            }
            td {
                text-align: center;
                vertical-align: middle;
            }
        }
    }

    &__members {
        .nice-panel-content > div {
            display: grid;
            grid-template-columns: 3fr 1fr;

            .base-link-group {
                justify-self: center;
            }
        }
    }
}
