// _loading-splash.scss

.loading-splash-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255,255,255, .5);
    z-index: 998;

    .loading-splash {
        z-index: 999;
    }
}

.loading-splash {
    background: transparent url('../img/d20.png') no-repeat center center;
    background-size: auto 4em;

    display: inline-block;

    position: fixed;
    top: 50%;
    left: 50%;
    width: 5em;
    height: 5em;
    margin-left: -2.5em;
    margin-top: -2.5em;

    animation: spin 2s linear 0s infinite;
    -webkit-animation: spin 2s linear 0s infinite;
}
