// _login-dialog.scss

.login-dialog {
    min-width: auto;

    &__google {
        content: '';

        display: block;
        width: 191px;
        height: 46px;
        background: url('../img/btn_google_signin_sprite_web.png') no-repeat 0 0;
        overflow: hidden;
        text-indent: -15000px;
        font-size: 0px;
        line-height: 0px;

        &:hover {
            background-position: 0 -46px;
        }

        &:active {
            background-position: 0 -92px;
        }
    }
}
