// _markdown-textedit.scss

.markdown-textedit {
    position: relative;
    white-space: initial;

    .markdown-textedit--placeholder {
        position: absolute;
        color: gray;
        margin: 4px 6px;
    }

    textarea {
        min-height: 8em;
    }

    .markdown-textedit--preview {
        display: block;
        min-height: 8em;
        border: 1px solid #D0D1D5;
        padding: 5px;
        width: 100%;
        background-color: #FFF;
    }

    .nice-btn.icon::before {
        margin-right: 0px;
    }
}
