// _modal-dialog.scss

.modal-dialog {
    height: auto !important;

    .nice-modal-content {
        height: auto !important;
    }

    .nice-modal-body {
        max-height: 240px;
    }

    .nice-modal-footer {
        position: initial !important;
    }
}
