// _party-view.scss

@import 'view-grid';

.party-view {
    @extend .view-grid;

    > .party-view__description {
        grid-column-end: span 3;
    }

    > .party-view__challenge {
        grid-column-end: span 3;
    }

    > .party-view__members {
        grid-column-end: span 6;
    }
}