// _spells-table.scss

@import 'view-grid';

.spells-table {
    nav {
        text-align: center;
    }

    .spells-table--properties {
        > div:before {
            content: ', ';
        }
        > div:first-of-type:before {
            content: normal;
        }
    }

    .spells-table--search {
        @extend .view-grid;

        > * {
            grid-column-end: span 2;
        }
    }
}