// _spell-view.scss

@import 'view-grid';

.spell-view {
    @extend .view-grid;

    > .spell-view__information {
        grid-column-end: span 2;
    }

    > .spell-view__description {
        grid-column-end: span 4;
    }

    .spell-view__properties {
        > div:before {
            content: ', ';
        }
        > div:first-child:before {
            content: normal;
        }
    }

}
