// _users-table.scss

.users-table {
    nav {
        text-align: center;
    }

    .users-table__roles {
        > div:before {
            content: ', ';
        }
        > div:first-child:before {
            content: normal;
        }
    }
}