// _weapon-label.scss

.weapon-label{
    > strong:before {
        content: ', ';
    }
    > strong:first-child:before {
        content: normal;
    }

    .spell-label--info {
        margin-left: 1em;

        > strong:before {
            content: ', ';
        }
        > strong:first-child:before {
            content: normal;
        }
    }

    .weapon-label--properties {
        padding-left: 0;

        &:before {
            content: '[';
        }
        &:after {
            content: ']';
        }

        > li {
            display: inline;
        }

        > li:before {
            content: ', ';
        }
        > li:first-child:before {
            content: normal;
        }
    }
}