{% extends "layout.html" %}
{% block body %}
{% if user.id %}
<h2 class="icon fa-pencil">User</h2>

<form action="{{ url_for('user.edit', user_id=user.id) }}" method="post">
{% else %}
<h2 class="icon fa-user-plus">User</h2>

<form action="{{ url_for('user.new') }}" method="post">
{% endif %}
    <button name="button" value="save" class="hidden">Hidden</button>

<div class="nice-row">
    <div class="nice-col-6 nice-col-mobile-12">

<div class="nice-panel gray">
    <div class="nice-panel-heading">
        Description
    </div>
    <div class="nice-panel-content">
        <div class="nice-form-group">

            <div class="nice-control-group">
                <span class="nice-input-addon">
                    Userame
                </span>
                {% if 'admin' in request.user.role %}
                <input type="text" class="nice-form-control" name="user.username" value="{{ user.username }}" />
                {% else %}
                <input type="text" disabled class="nice-form-control" value="{{ user.username }}" />
                {% endif %}
            </div>

            <div class="nice-control-group">
                <span class="nice-input-addon">
                    Full name
                </span>
                <input type="text" placeholder="Full name..." class="nice-form-control" name="user.name" />
            </div>

            <div class="nice-control-group">
                <span class="nice-input-addon">
                    Password
                </span>
                <input type="password" placeholder="Password..." class="nice-form-control" name="user.password" />
            </div>

            <div class="nice-control-group">
                <span class="nice-input-addon">
                    E-mail
                </span>
                <input type="email" placeholder="E-mail..." class="nice-form-control" name="user.email" value="{{ user.email }}" />
            </div>
        </div>

    </div>
</div>

{% if 'admin' in request.user.role %}
<div class="nice-panel gray">
    <div class="nice-panel-heading">
        Permissions
    </div>
    <div class="nice-panel-content">
        <div class="nice-form-group">

            <div class="nice-control-group">
                <span class="nice-input-addon">
                    Role
                </span>
                <div class="nice-tags-container" id="role">
                    {% for role in data.roles %}
                    {% if role.name in user.role %}
                    <div class="nice-tag">
                        <span class="nice-tag-label">
                            <input type="hidden" value="{{ role.name }}" name="user.role.{{ user.role.index(role.name) }}" />
                            {{ role.label }}
                        </span>
                        <button class="nice-tag-btn">
                            <i class="icon fa-trash-o"></i>
                        </button>
                    </div>
                    {% endif %}
                    {% endfor %}
                    <select
                        class="nice-form-control add-tag"
                        data-name="user.role.+"
                        data-target="role">
                        <option value="">Assign role...</option>
                    {% for role in data.roles %}
                        <option value="{{ role.name }}">{{ role.label }}</option>
                    {% endfor %}
                    </select>
                </div>
            </div>
        </div>

    </div>
</div>
{% endif %}

    </div>
</div>

<div class="nice-btn-group position-fixed position-bottom position-right" style="z-index: 1000">
    <button name="button" value="cancel" class="nice-btn muted icon fa-ban">Cancel</button>
    <button name="button" value="update" class="nice-btn info icon fa-refresh">Update</button>
    <button name="button" value="save" class="nice-btn primary icon fa-save">Save</button>
</div>

</form>
{% endblock %}
