{% extends "layout.html" %}
{% block body %}
{% if party.id %}
<h2 class="icon fa-pencil">Party</h2>

<form action="{{ url_for('party.edit', party_id=party.id) }}" method="post">
{% else %}
<h2 class="icon fa-plus">Party</h2>

<form action="{{ url_for('party.new') }}" method="post">
{% endif %}
    <button name="button" value="save" class="hidden">Hidden</button>

<div class="nice-row">
    <div class="nice-col-6 nice-col-mobile-12">

<div class="nice-panel gray">
    <div class="nice-panel-heading">
        Description
    </div>
    <div class="nice-panel-content">
        <div class="nice-form-group">

            <div class="nice-control-group">
                <span class="nice-input-addon">
                    Name
                </span>
                <input type="text" class="nice-form-control" name="name" value="{{ party.name }}" />
            </div>

            <div class="nice-control-group">
                <span class="nice-input-addon">
                    Description
                </span>
                <textarea class="nice-form-control" name="description">{{ party.description }}</textarea>
            </div>
        </div>

    </div>
</div>

    </div>
</div>

<div class="nice-btn-group position-fixed position-bottom position-right" style="z-index: 1000">
    <button name="button" value="cancel" class="nice-btn muted icon fa-ban">Cancel</button>
    <button name="button" value="update" class="nice-btn info icon fa-refresh">Update</button>
    <button name="button" value="save" class="nice-btn primary icon fa-save">Save</button>
</div>

</form>
{% endblock %}
