<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="white">
        <meta name="application-name" content="{{ info.title }} {{ info.version }}">
        <meta name="author" content="{{ info.author }}">
        <title>{{ info.title }}</title>
        <link href="{{ url_for('static', filename='css/nice.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/dnd.css') }}" rel="stylesheet">
        <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='img/dnd-machine-icon.ico') }}">
        <link rel="apple-touch-icon-precomposed" type="image/png" href="{{ url_for('static', filename='img/dnd-machine-icon.png') }}">
        <script src="{{ url_for('static', filename='js/jquery.min.js') }}" type="text/javascript"></script>
        <script src="{{ url_for('static', filename='js/jquery.inview.min.js') }}" type="text/javascript"></script>
        <script src="{{ url_for('static', filename='js/mark.min.js') }}" type="text/javascript"></script>
        <script src="{{ url_for('static', filename='js/ui.js') }}" type="text/javascript"></script>
    </head>
    <body class="nice-fixed-header">
        <header class="nice-header fixed">
            <div class="nice-header-container">
                <h1 class="nice-header-brand">
                    <a href="{{ url_for('home') }}">
                        <image src="{{ url_for('static', filename='img/dungeons-and-dragons-logo.png') }}" height="35" />
                    </a>
                </h1>
                {% if request.user %}
                <div class="nice-header-collapse">

                    {% if search is defined %}
                    <form id="default-filter" class="nice-header-form">
                        <div class="nice-header-input-wrapper">
                            <input id="search" type="text" value="{{ search }}" name="search" placeholder="Search..." class="nice-form-control" />
                            <button type="submit">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </form>
                    {% endif %}

                    <ul class="nice-header-menu menu-pills">
                        <li class="highlight{% if request.path == url_for('character.overview') %} primary{% endif %}">
                            <a href="{{ url_for('character.overview') }}" class="icon fa-user-secret">
                                Characters
                            </a>
                        </li>

                        <li class="highlight{% if request.path == url_for('party.overview') %} primary{% endif %}">
                            <a href="{{ url_for('party.overview') }}" class="icon fa-users">
                                Parties
                            </a>
                        </li>

                        {% if 'dm' in request.user.role %}
                        <li>
                            <span class="icon fa-gavel">
                                Dungeon Master
                            </span>
                            <ul>

                            <li class="highlight{% if request.path == url_for('monster.overview') %} primary{% endif %}">
                                <a href="{{ url_for('monster.overview') }}" class="icon fa-paw">
                                    Monsters
                                </a>
                            </li>

                            <li class="highlight{% if request.path == url_for('npc.overview') %} primary{% endif %}">
                                <a href="{{ url_for('npc.overview') }}" class="icon fa-commenting-o">
                                    NPCs
                                </a>
                            </li>

                            <li class="highlight{% if request.path == url_for('encounter.overview') %} primary{% endif %}">
                                <a href="{{ url_for('encounter.overview') }}" class="icon fa-gamepad">
                                    Encounters
                                </a>
                            </li>

                            <li class="highlight{% if request.path == url_for('campaign.overview') %} primary{% endif %}">
                                <a href="{{ url_for('campaign.overview') }}" class="icon fa-book">
                                    Campaigns
                                </a>
                            </li>
                        </ul>
                        {% endif %}

                        <li>
                            <span class="icon fa-list">
                                Items
                            </span>
                            <ul id="menu-items">
                                <li>
                                    <a href="{{ url_for('items.spells') }}" class="icon fa-magic">Spells</a>
                                </li>
                                <li>
                                    <a href="{{ url_for('items.languages') }}" class="icon fa-language">Languages</a>
                                </li>
                                <li>
                                    <a href="{{ url_for('items.weapons') }}" class="icon fa-cutlery">Weapons</a>
                                </li>
                                <li>
                                    <a href="{{ url_for('items.armor') }}" class="icon fa-shield">Armor</a>
                                </li>
                            </ul>
                        </li>

                        {% if 'admin' in request.user.role %}
                        <li>
                            <span class="icon fa-address-book">
                                Admin
                            </span>
                            <ul>
                                <li>
                                    <a href="{{ url_for('user.overview') }}">Users</a>
                                </li>
                            </ul>
                        </li>
                        {% endif %}

                        {% if request.user %}
                        <li>
                            <span class="icon fa-user-circle">
                                {{ request.user.username }}
                            </span>
                            <ul>
                                <li>
                                    <a href="{{ url_for('user.show', user_id=request.user.id) }}" class="icon fa-address-book">
                                        View profile
                                    </a>
                                </li>
                                {% if request.party %}
                                <li>
                                    <a href="{{ url_for('party.show', party_id=request.party.id) }}" class="icon fa-beer">
                                       {{ request.party.name }}
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ url_for('party.host', party_id=0) }}" class="icon fa-ban">
                                       Stop hosting
                                    </a>
                                </li>
                                {% endif %}
                                <li>
                                    <a href="{{ url_for('logout') }}" class="icon fa-sign-out">
                                        Logout {{ request.user.username }}
                                    </a>
                                </li>
                            </ul>
                            {% endif %}
                        </li>
                    </ul>
                </div>

                <button type="button" class="nice-header-toggle collapsed">
                    <span class="icon-bar top-bar"></span>
                    <span class="icon-bar middle-bar"></span>
                    <span class="icon-bar bottom-bar"></span>
                </button>

            </div><!-- .nice-header-container -->
            {% endif %}
        </header>
        <div id="messages">
        {% set msgId = 0 %}
        {% for category, label, class in [('error', 'Error', 'bad'), ('warning', 'Warning', 'warning'), ('info', 'Info', 'info')] %}
            {% for message in get_flashed_messages(category_filter=[category]) %}
            <div class="nice-alert position-fixed bottom {{ class }}" id="message-{{ msgId }}">
                <div class="nice-alert-wrapper">
                    <div class="nice-alert-content">
                        <strong>{{ label }}:</strong> {{ message }}
                    </div>
                    <a href="javascript:void(0);" data-id="{{ msgId }}" class="nice-alert-button dismiss">
                        Dismiss
                    </a>
                </div>
            </div>
            {% set msgId = msgId + 1 %}
            {% endfor %}
        {% endfor %}
        </div>
        <section class="nice-fluid-container grid" id="app">
{% block body %}{% endblock %}
        </section>
        <footer>
            <div class="nice-container">
                <p class="pull-left">
                    &copy; {{ info.date }} <span class="text-brand">{{ info.title }}</span>
                </p>
                <ul class="nice-footer-menu">
                    <li>
                        <a href="https://nice.textkernel.nl/" target="_blank" class="product-icon textkernel">
                            Nice!
                        </a>
                    </li>
                    <li>
                        <a href="http://dnd.wizards.com/articles/features/basicrules" target="_blank" class="icon fa-book">
                            Basic Rules for Dungeons &amp; Dragons
                        </a>
                    </li>
                </ul>
            </div>
        </footer>
        {% if reactjs|default(False) %}
        <script src="{{ url_for('static', filename='js/bundle.js') }}" type="text/javascript"></script>
        {% endif %}
    </body>
</html>
