{% set registered_widgets = {} %}
{% macro register_widget(widget_type, callback) %}
{% set _ = registered_widgets.update({widget_type: callback}) %}
{% endmacro %}

{% macro widget_existing(existing, path=[], disabled=False) -%}
<ul class="nice-menu stacked" style="padding-left: 1em;">
{%- for field, gift in existing.items() %}
    <li>
        <ol class="nice-breadcrumb small">
            {% for title in field.split('.') -%}
            <li>{{ title|field_title }}</li>
            {%- endfor %}
        </ol>

        {% if gift is mapping -%}
        {%- if 'name' in gift -%}

        {{ gift.label|default(gift.name) }}

        {%- else -%}

        <p>
        {% if 'description' in gift %}
        {{ (gift.description % gift)|markdown }}
        {% else %}
        {% for chldfield, chlditem in gift.items() -%}
        <strong>{{ chldfield|field_title }}</strong>: {{ chlditem }}<br/>
        {% endfor -%}
        {% endif %}
        </p>

            {%- endif -%}

        {%- elif gift is string -%}

        {{ gift }}

        {%- else -%}

        {{ gift|join(', ') }}

        {%- endif %}
    </li>
{%- endfor %}
</ul>
{%- endmacro %}
{{ register_widget('existing', widget_existing) }}

{% macro widget_given(given, path=[], disabled=False) -%}
<ul class="nice-menu stacked" style="padding-left: 1em;">
{%- for field, gift in given.items() %}
    <li>
        <ol class="nice-breadcrumb small">
            {% for title in field.split('.') -%}
            <li>{{ title|field_title }}</li>
            {%- endfor %}
        </ol>

        {% if gift is mapping -%}
        {%- if 'name' in gift -%}

        <input{{ {
            "type": "hidden",
            "name": (path + [field])|join('.'),
            "value": gift.name
            }|xmlattr }}
            {%- if disabled %} disabled{%- endif -%} />
        {{ gift.label|default(gift.name) }}

        {%- else -%}

        {% for chldfield, chlditem in gift.items() -%}
        <input{{ {
            "type": "hidden",
            "name": (path + [field, chldfield])|join('.'),
            "value": chlditem
            }|xmlattr }}
        {%- if disabled %} disabled{%- endif -%} />
        {% endfor -%}
        <p>
        {% if 'description' in gift %}
        {{ (gift.description % gift)|markdown }}
        {% else %}
        {% for chldfield, chlditem in gift.items() -%}
        <strong>{{ chldfield|field_title }}</strong>: {{ chlditem }}<br/>
        {% endfor -%}
        {% endif %}
        </p>

            {%- endif -%}

        {%- elif gift is string -%}

        <input{{ {
            "type": "hidden",
            "name": (path + [field])|join('.'),
            "value": gift
            }|xmlattr }}
            {%- if disabled %} disabled{%- endif -%} />
        {{ gift }}

        {%- else -%}

            {%- for item in gift -%}
        <input{{ {
            "type": "hidden",
            "name": (path + [field])|join('.'),
            "value": item
            }|xmlattr }}
            {%- if disabled %} disabled{%- endif -%} />
            {%- endfor -%}
        {{ gift|join(', ') }}

        {%- endif %}
    </li>
{%- endfor %}
</ul>
{%- endmacro %}
{{ register_widget('given', widget_given) }}

{% macro widget_group(group, path=[], disabled=False) -%}
{%- for item in group -%}
<input{{ {
    "type": "hidden",
    "name": path|join('.'),
    "value": item
    }|xmlattr }}
    {%- if disabled %} disabled{%- endif -%} />
{% endfor -%}
<span{{ {
    "class": "nice-form-control",
    "style": "background-color: #ECF0F1"
    }|xmlattr }} >
    {{ group|join(', ') }}
</span>
{%- endmacro %}
{{ register_widget('group', widget_group) }}

{% macro widget_select(select, path=[], disabled=False) -%}
<select{{ {
    "class": "nice-form-control",
    "name": path|join('.')
    }|xmlattr }}
    {%- if disabled %} disabled{% endif -%}>
    {% for item in select -%}
    {% if item is mapping -%}
    <option{{ {"value": item.name }| xmlattr }}>{{ item.label|default(item.name) }}</option>
    {%- else -%}
    <option{{ {"value": item }| xmlattr }}>{{ item }}</option>
    {% endif -%}
    {%- endfor %}
</select>
{%- endmacro -%}
{{ register_widget('select', widget_select) }}

{% macro widgets(config, path=[], disabled=False, nested=False) -%}
{% if not nested %}<div class="widget-grid">{% endif -%}
{% for widget_type, callback in registered_widgets.items() -%}
{% if widget_type in config -%}
<div>
    <ol class="nice-breadcrumb small">
        {% for title in path -%}
        <li>{{ title|field_title }}</li>
        {%- endfor %}
    </ol>
    <ul class="nice-menu stacked" style="padding-left: 1em;">
        {{ callback(config[widget_type], path, disabled) }}
    </ul>
</div>
{%- endif %}
{%- endfor %}
{%- if not nested %}</div>{% endif %}
{% endmacro %}
{{ register_widget('widgets', widgets) }}

{% macro widget_choose(choose, path=[], disabled=False) -%}
<table class="nice-table bordered itemset{% if disabled %} disabled{% endif %}">
    {%- set radio_name = {"choose": choose, "path": path, "disabled": disabled}|md5 -%}
    {% for choice in choose %}
    <tr>
        <th>
            <input{{ {
                "type": "radio",
                "name": radio_name
                }| xmlattr }}
                {%- if loop.first %} checked{%- endif -%}
                {%- if disabled %} disabled{%- endif -%} />
        </th>
        <td{{ {
            "class": "disabled" if (disabled or not loop.first) else None
            }|xmlattr }}>
            {{ widgets(choice, path, disabled or not loop.first, nested=True) }}
        </td>
    </tr>
    {%- endfor %}
</table>
{% endmacro -%}
{{ register_widget('choose', widget_choose) }}

{% macro widget_options(options, path=[], disabled=False) -%}
{% for field, items in options.items() -%}
{% for item in items %}
    <li>
{{ widgets(item, path + [field], disabled, nested=True) }}
    </li>
{% endfor -%}
{% endfor -%}
{%- endmacro %}
{{ register_widget('options', widget_options) }}

{% macro widget_multiple(multiple, path=[], disabled=False) -%}
{% for item in multiple -%}
{{ widgets(item, path, disabled, nested=True) }}
{% endfor -%}
{%- endmacro %}
{{ register_widget('multiple', widget_multiple) }}

{% macro widget_tabs(tabs, path=[], disabled=False) -%}
{% for tab in tabs %}
{%- set tab_name = {"tabs": tab, "path": path, "disabled": disabled}|md5 -%}
<div{{ {
        "class": "nice-tabs-wrapper",
        "id": tab_name}|xmlattr }}>
    {{ tab.description|default('')|markdown }}
    <ul class="nice-tabs">
        {%- for option in tab.options %}
        <li{{ {
                "data-name": option.name|md5,
                "class": ' '.join([
                    "current" if loop.first else '',
                    "disabled" if disabled else ''
                    ])
                }|xmlattr }}>
            <a class="cursor-pointer">
                {{ option.name|capitalize }}
            </a>
        </li>
        {%- endfor %}
    </ul>
    <ul class="nice-tab-content">
        {%- for option in tab.options %}
        <li{{ {
                "data-name": option.name|md5,
                "class": "current" if loop.first else None
                }|xmlattr }}>
            {{ widgets(option, path, disabled or not loop.first, nested=True) }}
        </li>
        {%- endfor %}
    </ul>
</div>
{% endfor %}
{% endmacro -%}
{{ register_widget('tabs', widget_tabs) }}
