@charset "UTF-8";
.product-icon.d20:before {
    background: transparent url('../img/d20.png') no-repeat center center;
    background-size: auto 2em;
    display: inline-block;
    width: 2em;
    height: 2em;
    content: "";
}

.disabled {
    color: gray; }

.capitalize {
    text-transform: capitalize; }

.inline {
    display: inline; }

.control-wrapper {
    position: relative; }
div.object-control {
    position: absolute;
    top: 1em;
    right: 1em;
    }

div.widget-grid {
    display: grid;
    grid-gap: 1em .5em;
    grid-template-columns: 50% 50%;}

div#edit-monster {
    display: grid;
    grid-gap: 1em .5em;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(3, min-content);
    grid-template-areas: "description speed"
                         "statistics attributes"
                         "attacks multiattacks"; }

div#view-monster {
    display: grid;
    grid-gap: 1em .5em;
    grid-template-columns: 33% 34% 33%; }

div#view-campaign {
    display: grid;
    grid-gap: 1em .5em;
    grid-template-columns: 25% auto 25%;
    grid-template-rows: repeat(3, max-content) min-content;
    grid-template-areas: "description description description"
                         "toc story story"
                         ". story story"; }
    div#view-campaign div.admonition {
        border: 1px dashed #60C4DE;
        padding: .5%;
        margin: .5%;
        page-break-inside: avoid; }
    div#view-campaign div.admonition.monster, div#view-campaign div.admonition.npc {
        width: 48%;
        min-width: 22em;
        float: left; }
    div#view-campaign div.admonition.monster {
        border: 1px dashed #F42534; }
    div#view-campaign div.admonition.npc {
        border: 1px dashed #182642; }
    div#view-campaign div.admonition .admonition-title {
        display: none; }
    div#view-campaign div.admonition.npc + :not(.npc):not(.monster),
    div#view-campaign div.admonition.monster + :not(.npc):not(.monster){
        display: block;
        clear: both; }

div#view-character {
    display: grid;
    grid-gap: 1em .5em;
    grid-template-columns: 33% 34% 33%;
    grid-template-rows: repeat(5, auto);
    grid-template-areas: "description description info"
                         "base statistics skills"
                         "equipment saving-throws skills"; }

div#edit-character {
    display: grid;
    grid-gap: 1em .5em;
    grid-template-columns: 50% 50%;
    grid-auto-rows: auto; }

div#view-encounter {
    display: grid;
    grid-gap: 1em .5em;
    grid-template-columns: 50% 50%;
    grid-template-areas: "description challenge-rating"
                         "description modified-rating"
                         "initiative initiative"
                         "monsters monsters"; }
    div#view-encounter #monsters .monster {
        display: grid;
        grid-gap: 0em .5em;
        grid-template-columns: 50% 50%;
        grid-template-areas: "info stats"
                            "info actions"
                            "traits actions"
                            "multiattacks actions"
                            ". actions"; }

div#edit-encounter {
    display: grid;
    grid-gap: 1em .5em;
    grid-template-columns: 50% 50%;
    grid-template-areas: "description rating"
                         "monsters monsters"
                         "loot loot"; }

div#new-npc, div#edit-npc, div#view-npc {
    display: grid;
    grid-gap: 1em .5em;
    grid-template-columns: 50% 50%;
    grid-auto-rows: auto; }
    div#view-npc {
        grid-template-areas: "base statistics"
                            "attributes attributes"; }
    div#view-npc > #base { grid-area: base; }
    div#view-npc > #statistics { grid-area: statistics; }
    div#view-npc > #attributes { grid-area: attributes; }

@media screen and (max-width: 1025px) {
    table.responsive {
        border: 0;
    }
    table.responsive caption {
        font-size: 1.3em;
    }
    table.responsive thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    table.responsive tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }
    table.responsive td, table.responsive th {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
    }
    table.responsive td:before, table.responsive th:before {
        /*
        * aria-label has no advantage, it won't be read inside a table
        content: attr(aria-label);
        */
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }
    table.responsive td:last-child, table.responsive th:last-child {
        border-bottom: 0;
    }

    div.widget-grid {
        display: block; }

    div#view-campaign {
        grid-template-columns: auto;
        grid-template-rows: repeat(5, auto);
        grid-template-areas: "title"
                            "control"
                            "toc"
                            "description"
                            "story"; }
    div#edit-monster {
        grid-template-columns: 50% 50%;
        grid-template-rows: repeat(3, min-content);
        grid-template-areas: "description speed"
                            "statistics attributes"
                            "actions actions"; }

    div#edit-monster {
        display: block; }

    div#view-monster {
        display: block; }

    div#edit-character {
        display: block; }

    div#view-character {
        display: block; }

    div#edit-npc {
        display: block; }

    div#view-npc {
        display: block; }

    div#edit-encounter {
        display: block; }

    div#view-encounter {
        display: block; }
    div#view-encounter #monsters .monster {
        display: block; }
    }

div#view-character > #description { grid-area: description; }
div#view-character > #info { grid-area: info; }
div#view-character > #equipment { grid-area: equipment; }
div#view-character > #skills { grid-area: skills; }
div#view-character > #statistics { grid-area: statistics; }
div#view-character > #saving-throws { grid-area: saving-throws; }
/* div#view-character > #traits { grid-area: traits; } */
/* div#view-character > #spells { grid-area: spells; } */
/* div#view-character > #proficiencies { grid-area: proficiencies; } */
/* div#view-character > #abilities { grid-area: abilities; } */

div#view-campaign > #title { grid-area: title; }
div#view-campaign > #description { grid-area: description; }
div#view-campaign > #control { grid-area: control; }
div#view-campaign > #toc { grid-area: toc; }
div#view-campaign > #story { grid-area: story; }
div#view-campaign table {
    border-spacing: 0;
    border-collapse: collapse;
    border: 1px solid #D0D1D5; }
    div#view-campaign table thead tr th, div#view-campaign table thead tr td, div#view-campaign table tbody tr th, div#view-campaign table tbody tr td {
        vertical-align: top;
        padding: .25em .5em;
        border: 1px solid #D0D1D5; }

div#edit-monster > #description { grid-area: description; }
div#edit-monster > #speed { grid-area: speed; }
div#edit-monster > #statistics{ grid-area: statistics; }
div#edit-monster > #attributes { grid-area: attributes; }
div#edit-monster > #actions { grid-area: actions; }
div#edit-monster > #multiattacks { grid-area: multiattacks; }

/*
 * div#view-monster > #description { grid-area: description; }
div#view-monster > #speed { grid-area: speed; }
div#view-monster > #statistics { grid-area: statistics; }
div#view-monster > #attributes { grid-area: attributes; }
div#view-monster > #actions { grid-area: actions; }
*/

div#view-encounter > #description { grid-area: description; }
div#view-encounter > #challenge-rating { grid-area: challenge-rating; }
div#view-encounter > #modified-rating { grid-area: modified-rating; }
div#view-encounter > #initiative { grid-area: initiative; }
div#view-encounter > #monsters { grid-area: monsters; }

div#edit-encounter > #description { grid-area: description; }
div#edit-encounter > #rating { grid-area: rating; }
div#edit-encounter > #monsters { grid-area: monsters; }
div#edit-encounter > #loot { grid-area: loot; }

div#view-encounter #monsters .monster > .monster-info { grid-area: info; }
div#view-encounter #monsters .monster > .monster-stats { grid-area: stats; }
div#view-encounter #monsters .monster > .monster-traits { grid-area: traits; }
div#view-encounter #monsters .monster > .monster-multiattack { grid-area: multiattacks; }
div#view-encounter #monsters .monster > .monster-attacks { grid-area: actions; }

@media print {
    html body {
        margin: 0px; }
    body > header, body > footer, div#messages, .nice-btn-group {
        display: none; }
    body.nice-fixed-header {
        padding-top: 0px; }
    h1, h2, h3, .h1, .h2, .h3 {
        margin: 0px auto; }
    div#view-campaign {
        display: grid;
        grid-template-columns: 100%;
        grid-template-areas: "title"
                            "description"
                            "toc"
                            "story"; }
    blockquote {
        page-break-inside: avoid; }
    .nice-menu.stacked li a, .nice-menu.stacked li span {
        padding: 0px 10px; }
    }
