{% extends "layout.html" %}

{% macro macro_damage(damage, attack, path) %}
<div class="nice-control-group">
    <span class="nice-input-addon">
        Damage
    </span>
    <select class="nice-form-control" name="{{ path }}.type">
        <option />
    {% for option in data.damage_types %}
        <option{{ {
                "selected": "selected" if damage.type == option.name else None,
                "value": option.name
                }|xmlattr }}>
            {{ option.label|default(option.name|capitalize) }}
        </option>
    {% endfor %}
    </select>
    <span class="nice-input-addon">
        Dice
    </span>
    <select class="nice-form-control" name="{{ path }}.dice_count">
        {% set dice = range(0, 31) %}
        {% for option in dice %}
            {% if damage.dice_count == option %}
            <option selected>{{ option }}</option>
            {% else %}
            <option>{{ option }}</option>
            {% endif %}
        {% endfor %}
    </select>
    <span class="nice-input-addon">
        d
    </span>
    <select class="nice-form-control" name="{{ path }}.dice_size">
        {% for option in [4, 6, 8, 10, 12, 20] %}
            {% if damage.dice_size == option %}
            <option selected>{{ option }}</option>
            {% else %}
            <option>{{ option }}</option>
            {% endif %}
        {% endfor %}
    </select>
    <span class="nice-input-addon">
        +
    </span>
    <select class="nice-form-control" name="{{ path }}.mode">
    {% for option in ["melee", "ranged", "spell"] %}
        <option{{ {
                "selected": "selected" if damage.mode == option else None,
                "value": option
                }|xmlattr }}>
            {{ option|capitalize }}
        </option>
    {% endfor %}
    </select>
</div>
{% endmacro %}

{% macro macro_attack(attack, path) %}
<div class="nice-panel-content">
    <div class="nice-form-group">

        <label>Attack</label>
        <div class="nice-control-group">
            <span class="nice-input-addon">
                Name
            </span>
            <input type="text" placeholder="Attack name..." class="nice-form-control" name="{{ path }}.name" value="{{ attack.name }}" />
        </div>

        <div class="nice-control-group">
            <span class="nice-input-addon">
                Description
            </span>
            <textarea class="nice-form-control" placeholder="Description..." name="{{ path }}.description">{{ attack.description }}</textarea>
        </div>

        {% for damage in attack.damage %}
        {{ macro_damage(damage, attack, [path, "damage", loop.index0]|join('.')) }}
        {% endfor %}
        {{ macro_damage({}, attack, [path, "damage", attack.damage|length]|join('.')) }}

        <div class="nice-control-group">
            <span class="nice-input-addon">
                Target
            </span>
            <select class="nice-form-control" name="{{ path }}.target">
                {% for option in ['single', 'multiple', 'area'] %}
                    {% if attack.target == option %}
                    <option selected>{{ option }}</option>
                    {% else %}
                    <option>{{ option }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>

        <div class="nice-control-group">
            <span class="nice-input-addon">
                Range
            </span>
            <select class="nice-form-control" name="{{ path }}.range.min">
            {% for option in range(5, 100, 5) %}
                {% if attack.range.min == option %}
                <option selected>{{ option }}</option>
                {% else %}
                <option>{{ option }}</option>
                {% endif %}
            {% endfor %}
            </select>
            <span class="nice-input-addon">
                -
            </span>
            <select class="nice-form-control" name="{{ path }}.range.max">
            {% for option in range(5, 100, 5) %}
                {% if attack.range.max == option %}
                <option selected>{{ option }}</option>
                {% else %}
                <option>{{ option }}</option>
                {% endif %}
            {% endfor %}
            </select>
            <span class="nice-input-addon">
                ft.
            </span>
        </div>

        <div class="nice-control-group">
            <span class="nice-input-addon">
                On Hit:
            </span>
            <input type="text" placeholder="On hit bad stuff..." class="nice-form-control" name="{{ path }}.on_hit" value="{{ attack.on_hit }}" />
        </div>

        <div class="nice-control-group">
            <span class="nice-input-addon">
                On Mis:
            </span>
            <input type="text" placeholder="On mis still bad stuff..." class="nice-form-control" name="{{ path }}.in_mis" value="{{ attack.on_mis }}" />
        </div>

    </div>
</div>
{% endmacro %}

{% block body %}
{% if monster.id %}
<h2 class="icon fa-pencil">Monster</h2>

<form action="{{ url_for('monster.edit', monster_id=monster.id) }}" method="post">
{% else %}
<h2 class="icon fa-user-plus">Monster</h2>

<form action="{{ url_for('monster.new') }}" method="post">
{% endif %}
    <button name="button" value="save" class="hidden">Hidden</button>

<div id="edit-monster">

<div id="description" class="nice-panel gray">
    <div class="nice-panel-heading">
        Description
    </div>
    <div class="nice-panel-content">
        <div class="nice-form-group">
            <div class="nice-control-group">
                <span class="nice-input-addon">
                    Name
                </span>
                <input type="text" placeholder="Monster name" class="nice-form-control" name="monster.name" value="{{ monster.name }}" />
            </div>

            <div class="nice-control-group">
                <span class="nice-input-addon">
                    Size
                </span>
                <select class="nice-form-control" name="monster.size">
                {% for size in machine.size_hit_dice %}
                    {% if size.name == monster.size %}
                    <option value="{{ size.name }}" selected>{{ size.label }}</option>
                    {% else %}
                    <option value="{{ size.name }}" >{{ size.label }}</option>
                    {% endif %}
                {% endfor %}
                </select>
                <span class="nice-input-addon">
                    Type
                </span>
                <select class="nice-form-control" name="monster.type">
                {% for type in item.monster_types %}
                    <option{{ {
                        "selected": "selected" if type.name == monster.type else None,
                        "value": type.name
                        }|xmlattr }}>{{ type.label }}
                    </option>
                {% endfor %}
                </select>
            </div>

            <div class="nice-control-group">
                <span class="nice-input-addon">
                    Alignment
                </span>
                <select class="nice-form-control" name="monster.alignment">
                {% for b in ['good', 'neutral', 'evil'] %}
                {% for a in ['lawful', 'neutral', 'chaotic'] %}
                    {% set alignment = ('true' if a == b else a) + ' ' + b %}
                    {% if alignment == monster.alignment %}
                    <option selected>{{ alignment }}</option>
                    {% else %}
                    <option>{{ alignment }}</option>
                    {% endif %}
                {% endfor %}
                {% endfor %}
                </select>
            </div>

            <div class="nice-control-group">
                <span class="nice-input-addon">
                    Level
                </span>
                <select class="nice-form-control" name="monster.level">
                {% for level in range(1, 31) %}
                    {% if level == monster.level %}
                    <option selected>{{ level }}</option>
                    {% else %}
                    <option>{{ level }}</option>
                    {% endif %}
                {% endfor %}
                </select>
            </div>

            <div class="nice-control-group">
                <span class="nice-input-addon">
                    Armor Class
                </span>
                <select class="nice-form-control" name="monster.armor_class">
                {% for armor_class in range(10, 20) %}
                    {% if armor_class == monster.armor_class %}
                    <option selected>{{ armor_class }}</option>
                    {% else %}
                    <option>{{ armor_class }}</option>
                    {% endif %}
                {% endfor %}
                </select>
            </div>

        </div>
    </div>
</div>

<div id="speed" class="nice-panel gray">
    <div class="nice-panel-heading">
        Speed
    </div>
    <div class="nice-panel-content">
        <div class="nice-form-group">

            {% for mode in ["walk", "burrow", "climb", "fly", "swim"] %}
            <div class="nice-control-group">
                <span class="nice-input-addon">
                    {{ mode|capitalize }}
                </span>
                <select class="small nice-form-control" name="monster.motion.{{ mode }}">
                    {% if mode not in monster.motion or monster.motion[mode] == 0 %}
                    <option selected value="0">N/A</option>
                    {% else %}
                    <option value="0">N/A</option>
                    {% endif %}
                {% for option in range(5, 40, 5) %}
                    {% if mode in monster.motion and monster.motion[mode] == option %}
                    <option selected>{{ option }}</option>
                    {% else %}
                    <option>{{ option }}</option>
                    {% endif %}
                {% endfor %}
                </select>
                <span class="nice-input-addon">
                    ft.
                </span>
            </div>
            {% endfor %}

        </div>
    </div>
</div>

<div id="statistics" class="nice-panel gray">
    <div class="nice-panel-heading">
        Statistics
    </div>
    <div class="nice-panel-content">
        <div class="nice-form-group">

            {% set stats = ["strength", "dexterity", "constitution", "intelligence", "wisdom", "charisma"] %}
            <table class="nice-table condensed bordered" id="statblock">
                <thead>
                    <tr>
                        <th></th>
                        <th>Statistic</th>
                        <th>Modifier</th>
                    </tr>
                </thead>
                <tbody>
                    {% for stat in stats %}
                    <tr>
                        <th>{{ stat|capitalize }}</th>
                        <td>
                            <select class="small nice-form-control" name="monster.stats.{{ stat }}">
                            {% for option in range(1, 31) %}
                                {% if monster.stats[stat] == option %}
                                <option selected>{{ option }}</option>
                                {% else %}
                                <option>{{ option }}</option>
                                {% endif %}
                            {% endfor %}
                            </select>
                        </td>
                        <td>
                            ({{ monster.modifiers[stat] }})
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
</div>

<div id="attributes" class="nice-panel gray">
    <div class="nice-panel-heading">
        Attributes
    </div>
    <div class="nice-panel-content">
        <div class="nice-form-group">

            <label>Challenge Rating</label>
            <div class="nice-control-group">
                <span class="nice-input-addon">
                    Challenge Rating
                </span>
                <input type="text" disabled class="nice-form-control" value="{{ monster.challenge_rating }}" />
                <span class="nice-input-addon">/</span>
                <input type="text" disabled class="nice-form-control" value="{{ monster.xp }}" />
                <span class="nice-input-addon">XP</span>
            </div>

            <label>Traits</label>
            {% for trait in monster.traits %}
            <div class="nice-form-group">
                <input type="text" placeholder="Trait Name..." class="nice-form-control" name="monster.traits.{{ loop.index0 }}.name" value="{{ trait.name }}" />
                <textarea class="nice-form-control" placeholder="Description..." name="monster.traits.{{ loop.index0 }}.description">{{ trait.description }}</textarea>
            </div>
            {% endfor %}
            <div class="nice-form-group">
                <input type="text" placeholder="Trait Name..." class="nice-form-control" name="monster.traits.{{ monster.traits|length }}.name" value="" />
                <textarea class="nice-form-control" placeholder="Description..." name="monster.traits.{{ monster.traits|length }}.description"></textarea>
            </div>

            <label>Features</label>
            <div class="nice-control-group">
                {% for feature in monster.features %}
                <input type="text" placeholder="Feature Name..." class="nice-form-control" name="monster.features.{{ loop.index0 }}.name" value="{{ feature.name }}" />
                <textarea class="nice-form-control" placeholder="Description..." name="monster.features.{{ loop.index0 }}.description">{{ feature.description }}</textarea>
                {% endfor %}
            </div>

            <div class="nice-control-group">
                <span class="nice-input-addon">
                    Languages
                </span>
                <div class="nice-tags-container" id="languages">
                    {% for i in range(monster.languages|length) %}
                    {% set language = monster.languages[i] %}
                    {% if language %}
                    <div class="nice-tag">
                        <span class="nice-tag-label">
                            <input type="hidden" value="{{ language }}" name="monster.languages.{{ i }}" />
                            {{ language }}
                        </span>
                        <button class="nice-tag-btn">
                            <i class="icon fa-trash-o"></i>
                        </button>
                    </div>
                    {% endif %}
                    {% endfor %}
                    <select
                        data-next="{{ monster.languages|length }}"
                        class="nice-form-control add-tag"
                        data-name="monster.languages."
                        data-target="languages">
                        <option value="">Add language...</option>
                    {% for language in data.languages %}
                        <option>{{ language.name }}</option>
                    {% endfor %}
                    </select>
                </div>
            </div>

        </div>
    </div>
</div>

<div id="attacks" class="nice-panel gray">
    <div class="nice-panel-heading">
        Attacks
    </div>

    {% for attack in monster.attacks %}
    {{ macro_attack(attack, ["monster", "attacks", loop.index0]|join('.')) }}
    {% endfor %}
    {{ macro_attack({}, ["monster", "attacks", monster.attacks|length]|join('.')) }}
</div>

<div id="multiattacks" class="nice-panel gray">
    <div class="nice-panel-heading">
        Multiattacks
    </div>

    {% for i in range(monster.multiattack|length+1) %}
    {% set rotation = monster.multiattack[i]|default({}) %}
    <div class="nice-panel-content">
        <div class="nice-form-group">

            <label>Multiattack</label>
            <div class="nice-control-group">
                <span class="nice-input-addon">
                    Name
                </span>
                <input type="text" placeholder="Rotation name..." class="nice-form-control" name="monster.multiattack.{{ i }}.name" value="{{ rotation.name }}" />
            </div>

            <div class="nice-control-group">
                <span class="nice-input-addon">
                    Description
                </span>
                <textarea class="nice-form-control" placeholder="Rotation does an average of %average% damage..." name="monster.multiattack.{{ i }}.description">{{ rotation.description }}</textarea>
            </div>

            <div class="nice-control-group">
                <span class="nice-input-addon">
                    Condition
                </span>
                <textarea class="nice-form-control" placeholder="Condition..." name="monster.multiattack.{{ i }}.condition">{{ rotation.condition }}</textarea>
            </div>

            <div class="nice-control-group">
                <span class="nice-input-addon">
                    Rotation
                </span>
                <div class="nice-tags-container" id="rotation-{{ i }}">
                    {% for j in range(rotation.sequence|length) %}
                    {% set attack = rotation.sequence[j] %}
                        {% if attack %}
                    <div class="nice-tag">
                        <span class="nice-tag-label">
                            <input type="hidden" value="{{ attack }}" name="monster.multiattack.{{ i }}.sequence.{{ j }}" />
                            {{ attack }}
                        </span>
                        <button class="nice-tag-btn">
                            <i class="icon fa-trash-o"></i>
                        </button>
                    </div>
                        {% endif %}
                    {% endfor %}
                    <select
                        data-next="{{ rotation.sequence|length }}"
                        class="nice-form-control add-tag"
                        data-name="monster.multiattack.{{ i }}.sequence."
                        data-target="rotation-{{ i }}">
                        <option value="">Add attack...</option>
                    {% for attack in monster.attacks %}
                        <option>{{ attack.name }}</option>
                    {% endfor %}
                    </select>
                </div>
            </div>

        </div>
    </div>
    {% endfor %}
</div>


    </div>
</div>

<div class="nice-btn-group position-fixed position-bottom position-right" style="z-index: 1000">
    <button name="button" value="cancel" class="nice-btn muted icon fa-ban">Cancel</button>
    <button name="button" value="update" class="nice-btn info icon fa-refresh">Update</button>
    <button name="button" value="save" class="nice-btn primary icon fa-save">Save</button>
</div>

</form>
{% endblock %}
