{% extends "layout.html" %}
{% block body %}
<h1 class="icon fa-paw">{{ monster.name }}</h1>

<div id="view-monster">

    <div id="description" class="nice-panel brand">
        <div class="nice-panel-heading">
            Description
        </div>
        <table class="nice-panel-content nice-table condensed bordered" id="monsterstats">
            <thead>
                <tr>
                    <th colspan="2">
                        <i>
                            {{ monster.size }}
                            {{ monster.type }},
                            {{ monster.alignment }}
                        </i>
                        <span class="badge pull-right">
                            <a href="{{ url_for('monster.edit', monster_id=monster.id) }}" class="nice-btn icon fa-cog">Edit</a>
                            <a href="{{ url_for('monster.delete', monster_id=monster.id) }}" class="nice-btn bad icon fa-trash">Delete</a>
                        </span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Level</th>
                    <td>{{ monster.level }}</td>
                </tr>
                <tr>
                    <th>Armor Class</th>
                    <td>{{ monster.armor_class }}</td>
                </tr>
                <tr>
                    <th>Hit Points</th>
                    <td>
                        {{ monster.hit_points }}
                        <i>({{ monster.hit_points_notation }})</i>
                    </td>
                </tr>
                <tr>
                    <th>Speed</th>
                    <td>
                        {% for mode, speed in monster.motion.iteritems() %}
                        {% if speed %}
                            <strong>{{ mode }}:</strong> {{ speed }} ft.
                        {% endif %}
                        {% endfor %}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div id="statistics" class="nice-panel brand">
        <div class="nice-panel-heading">
            statistics
        </div>
        <table class="nice-panel-content nice-table condensed bordered">
            <thead>
                <tr>
                    {% for stat in items.statistics %}
                    <th>{{ stat.label }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for stat in items.statistics %}
                    <td>
                        {{ monster.stats[stat.name] }}
                        (
                            {% if monster.modifiers[stat.name] > 0 %}+{% endif %}
                            {{ monster.modifiers[stat.name] }}
                        )
                    </td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>

    <div id="attributes" class="nice-panel brand">
        <div class="nice-panel-heading">
            Attributes
        </div>
        <table class="nice-panel-content nice-table condensed bordered">
            <tbody>
                {% for trait in monster.traits %}
                <tr>
                    <th>{{ trait.name }}</th>
                    <td>{{ trait.description|markdown }}</td>
                </tr>
                {% endfor %}
                {% for feature in monster.features %}
                <tr>
                    <th>{{ feature.name }}</th>
                    <td>{{ feature.description|markdown }}</td>
                </tr>
                {% endfor %}
                {% if monster.languages %}
                <tr>
                    <th>Languages</th>
                    <td>
                        <div class="nice-tags-container">
                            {% for language in monster.languages %}
                            {% if language %}
                            <div class="nice-tag">
                                <span class="nice-tag-label">
                                    {{ language }}
                                </span>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </td>
                </tr>
                {% endif %}
                <tr>
                    <th>Challenge Rating</th>
                    <td>{{ monster.challenge_rating }} ({{ monster.xp }} XP)</td>
                </tr>
                <tr>
                    <th>Proficiency</th>
                    <td>{{ monster.proficiency }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div id="actions">
        {% if monster.multiattack %}
        <div class="nice-panel brand">
            <div class="nice-panel-heading">
                Multiattacks
            </div>
            <table class="nice-panel-content nice-table condensed bordered">
                <tbody>
                    {% for rotation in monster.multiattack %}
                    <tr>
                        <th>
                            {{ rotation.name }}
                            {% if rotation.condition %}
                            {{ ('(' ~ rotation.condition ~ ')')|markdown }}
                            {% endif %}
                        </th>
                        <td>
                            {{ rotation.description|markdown|replace('%average%', rotation.average) }}
                        </td>
                        <td>
                            <div class="nice-tags-container">
                                {% for attack in rotation.sequence %}
                                <div class="nice-tag">
                                    <span class="nice-tag-label">
                                        {{ attack }}
                                    </span>
                                </div>
                                {% endfor %}
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}

        <div class="nice-panel brand">
            <div class="nice-panel-heading">
                Actions
            </div>
            <table class="nice-panel-content nice-table condensed bordered">
                <tbody>
                    {% for i in range(monster.attacks|length) %}
                    {% set attack = monster.attacks[i] %}
                    <tr>
                        <th colspan="2">
                            <h4>{{ attack.name }}</h4>
                            <i>{{ attack.description|markdown }}</i>
                        </th>
                    </tr>
                    <tr>
                        <th>Mode</th>
                        <td>{{ attack.mode }}</td>
                    </tr>
                    <tr>
                        <th>Attack Notation</th>
                        <td>{{ attack.notation }}</td>
                    </tr>
                    <tr>
                        <th>Attack Damage</th>
                        <td>
                            <div class="nice-tags-container">
                                <div class="nice-tag">
                                    <span class="nice-tag-label">
                                        Average
                                    </span>
                                    <span class="nice-tag-badge">
                                        {{ attack.average }}
                                    <span>
                                </div>
                                <div class="nice-tag accent">
                                    <span class="nice-tag-label">
                                        Critical average
                                    </span>
                                    <span class="nice-tag-badge">
                                        {{ attack.critical }}
                                    <span>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% if attack.bonus %}
                    <tr>
                        <th>Attack Bonus</th>
                        <td>{% if attack.bonus > 0 %}+{% endif %}{{ attack.bonus }}</td>
                    </tr>
                    {% endif %}
                    {% if attack.spell_save_dc %}
                    <tr>
                        <th>Attack Save DC</th>
                        <td>&ge; {{ attack.spell_save_dc }}</td>
                    </tr>
                    {% endif %}
                    <tr>
                        <th>Target</th>
                        <td>{{ attack.target }}</td>
                    </tr>
                    <tr>
                        <th>Range</th>
                        <td>
                            {% if attack.range_min < attack.range_max %}
                            {{ attack.range_min }} -
                            {% endif %}
                            {{ attack.range_max }} ft.
                        </td>
                    </tr>
                    {% if attack.on_hit %}
                    <tr>
                        <th>On Hit</th>
                        <td>{{ attack.on_hit|markdown }}</td>
                    </tr>
                    {% endif %}
                    {% if attack.on_mis %}
                    <tr>
                        <th>On Mis</th>
                        <td>{{ attack.on_mis|markdown }}</td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
