{% extends "layout.html" %}

{% import 'macros.html' as macro %}

{% set basic = ["race", "class", "background"] %}

{% macro buttons(last) %}
<div class="nice-btn-group pull-right">
    <button name="button" value="cancel" class="nice-btn muted icon fa-ban">Cancel</button>
    {% if last %}
    <button name="button" value="save" class="nice-btn accent icon fa-save">Save</button>
    {% else %}
    <button name="button" value="save" class="nice-btn primary icon fa-arrow-right">Next</button>
    {% endif %}
</div>
<div class="clearfix"></div>
{% endmacro %}

{% set current_character %}
    {% for creation in character.creation %}
    <input{{ {
        "type": "hidden",
        "name": "character.creation[]",
        "value": creation
        }|xmlattr }} />
    {% endfor %}
    {% for field in basic %}
    {% if character[field] %}
    <input{{ {
        "type": "hidden",
        "name": "character." + field,
        "value": character[field]
        }|xmlattr }} />
    {% endif %}
    {% endfor%}
    {% if "core" in character.creation %}
    {% for field in ["name", "alignment"] %}
    {% if character[field] %}
    <input{{ {
        "type": "hidden",
        "name": "character." + field,
        "value": character[field]
        }|xmlattr }} />
    {% endif %}
    {% endfor%}
    {% endif %}
    {% if "stats" in character.creation %}
    {% for base_stat, value in character.base_stats.items() %}
    <input{{ {
        "type": "hidden",
        "name": "character.base_stats." + base_stat,
        "value": value
        }|xmlattr }} />
    {% endfor%}
    {% endif %}
{% endset %}

{% block body %}
<h1 class="icon fa-plus">New Character</h1>

<div class="nice-tabs-wrapper" id="tabs">
    <ul class="nice-tabs">
        {% for tab, done, current in basic|completed(character.creation) %}
        <li{{ {
                "data-name": tab,
                "class": " ".join([
                    "current" if current else "",
                    "good" if done else "info"
                    ])
                }|xmlattr }}>
            <a href="#">{{ character[tab] if done else tab|capitalize }}</a>
        </li>
        {% endfor %}

        <li{{ {
            "data-name": "core" if character.creation >= basic else "",
            "class": " ".join([
                "current" if character.creation == basic else "",
                "good" if "core" in character.creation else "muted"
                ])
            }|xmlattr }}>
            <a href="#">Core</a>
        </li>

        <li{{ {
            "data-name": "stats" if "core" in character.creation else "",
            "class": " ".join([
                "current" if ("core" in character.creation and "stats" not in character.creation) else "",
                "good" if "stats" in character.creation else "muted"
                ])
            }|xmlattr }}>
            <a href="#">Stats</a>
        </li>
    </ul>

    <ul class="nice-tab-content">

{% for tab, done, current in basic|completed(character.creation) %}

        <li{{ {
            "class": "current" if current else "",
            "data-name": tab
            }|xmlattr }} >

            {% if not done %}

            <form action="{{ url_for('character.new', character_id=character.id) }}" method="post">
                <button name="button" value="save" class="hidden">Save</button>

                {{ current_character }}

                <input{{ {
                    "type": "hidden",
                    "name": "character.creation[]",
                    "value": tab
                    }|xmlattr }} />

                {{ buttons(False) }}

                <div class="nice-tabs-wrapper" id="{{ tab }}">
                    <ul class="nice-tabs small">
                    {% for data in character_data[tab] %}
                        <li{{ {
                            "class": "current" if loop.first else "",
                            "data-name": data.name
                            }|xmlattr }} >
                            <a href="#">{{ data.name }}</a>
                        </li>
                    {% endfor %}
                    </ul>

                    <ul class="nice-tab-content">
                    {% for data in character_data[tab] %}
                        <li{{ {
                            "class": "current" if loop.first else "",
                            "data-name": data.name
                            }|xmlattr }} >

                            {% if "sub" in data %}
                            {% for sub in data.sub %}
                            <label>
                                <input{{ {
                                    "type": "radio",
                                    "name": "character." + tab,
                                    "value": sub.name
                                    }|xmlattr }} required />
                                {{ sub.name }}
                            </label>
                            {% endfor %}
                            {% else %}
                                <input{{ {
                                    "type": "hidden",
                                    "name": "character." + tab,
                                    "value": data.name
                                    }|xmlattr }} required />
                            {% endif %}

                            {{ data.description|markdown }}
                        </li>
                    {% endfor %}
                    </ul>
                </div>

                {{ buttons(False) }}
            </form>

            {% else %}

            {% for data in character_data[tab] %}
                {% for sub in data.sub|default([data]) %}
                    {% if character[tab] == sub.name %}

                        {% if sub.name != data.name %}
            <strong>({{ character[tab] }})</strong>
                        {% endif %}

            {{ data.description|markdown }}

                    {% endif %}
                {% endfor %}
            {% endfor %}
            {% endif %}

        </li>
{% endfor %}

{% if character.creation|length >= 3 %}
        <li{{ {
            "class": "current" if "core" not in character.creation else "good",
            "data-name": "core"
            }|xmlattr }} >

    {% if "core" not in character.creation %}
            <form action="{{ url_for('character.new', character_id=character.id) }}" method="post">
                <button name="button" value="save" class="hidden">Save</button>

                {{ current_character }}

                <input{{ {
                    "type": "hidden",
                    "name": "character.creation[]",
                    "value": "core"
                    }|xmlattr }} />

                {{ buttons(False) }}

                <table class="nice-table condensed bordered nice-form-group">
                    <thead>
                        <tr>
                            <th colspan="2">Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Name</th>
                            <td><input class="small nice-form-control" name="character.name" placeholder="Name..."></td>
                        </tr>
                        <tr>
                            <th>Height</th>
                            <td><input type="text" class="nice-form-control" name="character.height" placeholder="Height..." /> ft.</td>
                        </tr>

                        <tr>
                            <th>Weight</th>
                            <td><input type="text" class="nice-form-control" name="character.weight"  placeholder="Weight..." /> lb.</td>
                        </tr>

                        <tr>
                            <th>Age</th>
                            <td><input type="text" class="nice-form-control" name="character.age" placeholder="Age..." /> years old</td>
                        </tr>

                        <tr>
                            <th>Appearance</th>
                            <td><textarea class="nice-form-control" name="character.personality.appearance" rows="5">{{ character.personality.appearance }}</textarea></td>
                        </tr>
                    </tbody>
                </table>

                <table class="nice-table condensed bordered nice-form-group">
                    <thead>
                        <tr>
                            <th colspan="2">Personality</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Alignment</th>
                            <td>
                                <select class="nice-form-control" name="character.alignment">
                                    {%- for group, options in {'good': ['lawful good', 'neutral good', 'chaotic good'], 'neutral': ['lawful neutral', 'true neutral', 'chaotic neutral'], 'evil': ['lawful evil', 'neutral evil', 'chaotic evil']}.items() %}
                                    <optgroup label="{{ group|capitalize }}">
                                        {%- for option in options %}
                                        <option value="{{ option }}">{{ option|capitalize }}</option>
                                        {%- endfor %}
                                    </optgroup>
                                    {%- endfor %}
                                </select>
                            </td>
                        </tr>

                        <tr>
                            <th>Traits</th>
                            <td><textarea class="nice-form-control" name="character.personality.traits" rows="2">{{ character.personality.traits }}</textarea></td>
                        </tr>

                        <tr>
                            <th>Ideals</th>
                            <td><textarea class="nice-form-control" name="character.personality.ideals" rows="2">{{ character.personality.ideals }}</textarea></td>
                        </tr>

                        <tr>
                            <th>Bonds</th>
                            <td><textarea class="nice-form-control" name="character.personality.bonds" rows="2">{{ character.personality.bonds }}</textarea></td>
                        </tr>

                        <tr>
                            <th>Flaws</th>
                            <td><textarea class="nice-form-control" name="character.personality.flaws" rows="2">{{ character.personality.flaws }}</textarea></td>
                        </tr>
                    </tbody>
                </table>

                {{ buttons(False) }}

            </form>
    {% else %}
            <table class="nice-table condensed bordered">
                <thead>
                    <tr>
                        <th colspan="2">Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Name</th>
                        <td>{{ character.name }}</td>
                    </tr>
                    <tr>
                        <th>Height</th>
                        <td>{{ character.height }} ft.</td>
                    </tr>
                    <tr>
                        <th>Weight</th>
                        <td>{{ character.weight }}</td>
                    </tr>
                    <tr>
                        <th>Age</th>
                        <td>{{ character.age }}</td>
                    </tr>
                    <tr>
                        <th>Appearance</th>
                        <td>{{ character.appearance|default('')|markdown }}</td>
                    </tr>
                </tbody>
            </table>
            <table class="nice-table condensed bordered">
                <thead>
                    <tr>
                        <th colspan="2">Personality</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Alignment</th>
                        <td>{{ character.alignment }}</td>
                    </tr>
                    <tr>
                        <th>Traits</th>
                        <td>{{ character.personality.traits }}</td>
                    </tr>
                    <tr>
                        <th>Ideals</th>
                        <td>{{ character.personality.ideals }}</td>
                    </tr>
                    <tr>
                        <th>Bonds</th>
                        <td>{{ character.personality.bonds }}</td>
                    </tr>
                    <tr>
                        <th>Flaws</th>
                        <td>{{ character.personality.flaws }}</td>
                    </tr>
                    <tr>
                        <th>Backstory</th>
                        <td>{{ character.personality.backstory }}</td>
                    </tr>
                </tbody>
            </table>
    {% endif %}
        </li>
{% endif %}

{% if "core" in character.creation %}
        <li{{ {
            "class": "current" if "stats" not in character.creation else "good",
            "data-name": "stats"
            }|xmlattr }} >

    {% if "stats" not in character.creation %}
            <form action="{{ url_for('character.new', character_id=character.id) }}" method="post">
                <button name="button" value="save" class="hidden">Save</button>

                {{ current_character }}

                <input{{ {
                    "type": "hidden",
                    "name": "character.creation[]",
                    "value": "stats"
                    }|xmlattr }} />

                {{ buttons(True) }}

                <table class="nice-table condensed bordered nice-form-group" id="statsblockeditor">
                    <thead>
                        <tr>
                            <th>Statistic</th>
                            <th>Base</th>
                            <th>Bonus</th>
                            <th>Final</th>
                            <th>Modifier</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for stat in items.statistics %}
                        {% set class = "" %}
                        {% if stat.name == character.spell_stat %}
                            {% set class = "good" %}
                        {% elif stat.name in character.proficiencies.saving_throws %}
                            {% set class = "info" %}
                        {% endif %}
                        <tr class="{{ class }}">
                            <th>{{ stat.name }}</th>
                            <td class="{{ class }}">
                                <select class="small nice-form-control" data-field="base" name="character.base_stats.{{ stat.name }}">
                                {% for option in range(8, 16) %}
                                    {% if character.base_stats[stat.name] == option %}
                                    <option selected>{{ option }}</option>
                                    {% else %}
                                    <option>{{ option }}</option>
                                    {% endif %}
                                {% endfor %}
                                </select>
                            </td>
                            <td class="{{ class }}">
                                <input type="number" disabled value="{{ character.stats_bonus[stat.name]|sum }}" data-field="bonus" class="nice-form-control" />
                            </td>
                            <td class="{{ class }}">
                                <input type="number" disabled value="{{ character.stats[stat.name] }}" data-field="final" class="nice-form-control" />
                            </td>
                            <td class="{{ class }}">
                                <input type="number" disabled value="{{ character.modifiers[stat.name] }}" data-field="modifier" class="nice-form-control" />
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfooter>
                        <tr>
                            <th>Budget</th>
                            <th>
                                <input type="number" disabled id="budget" data-total="27" value="27" class="nice-form-control" />
                            </th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </tfooter>
                </table>

                {{ buttons(True) }}

            </form>
    {% else %}
            <table class="nice-table condensed bordered">
                <thead>
                    <tr>
                        <th>Statistic</th>
                        <th>Base</th>
                        <th>Bonus</th>
                        <th>Final</th>
                        <th>Modifier</th>
                    </tr>
                </thead>
                <tbody>
                    {% for stat in items.statistics %}
                    {% if stat.name == character.spell_stat %}
                    <tr class="good">
                    {% elif stat.name in character.proficiencies.saving_throws %}
                    <tr class="info">
                    {% else %}
                    <tr>
                    {% endif %}
                        <th>{{ stat.name }}</th>
                        <td>{{ character.base_stats[stat.name] }}</td>
                        <td>{{ character.stats_bonus[stat.name]|sum|bonus }}</td>
                        <td><strong>{{ character.stats[stat.name] }}</strong></td>
                        <td><strong>{{ character.modifiers[stat.name]|bonus }}</strong></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    {% endif %}
        </li>
{% endif %}
    </ul>
</div>
{% endblock body %}
