{% extends "tabbed-layout.html" %}

{% set completed = character.creation %}

{% block title %}
<h1 class="icon fa-plus">New Character</h1>
{% endblock title %}

{% block content %}

{% for tab, done, current in tabs|completed(completed) %}
<li class="{{ 'current' if current else '' }}" data-name="{{ tab }}">

    <form action="{{ url_for('character.new', character_id=character.id) }}" method="post">
        {% for finished in character.creation %}
        <input type="hidden" name="character.creation[]" value="{{ finished }}" />
        <input type="hidden" name="character.{{ finished }}" value="{{ character[finished] }}" />
        {% endfor %}
        <input type="hidden" name="character.creation[]" value="{{ tab }}" />

    {% if not done %}
        <div class="nice-tabs-wrapper" id="{{ tab }}">
            <ul class="nice-tabs small">
            {% for data in character_data[tab] %}
                <li class="{{ 'current' if loop.first else '' }}" data-name="{{ data.name }}">
                    <a href="#">{{ data.name }}</a>
                </li>
            {% endfor %}
            </ul>

            <ul class="nice-tab-content">
            {% for data in character_data[tab] %}
                <li class="{{ 'current' if loop.first else '' }}" data-name="{{ data.name }}">
                    {{ buttons }}

                    {% for sub in data.sub|default([data]) %}
                    <label>
                        <input type="radio" name="character.{{ tab }}" value="{{ sub.name }}" required/>
                        {{ sub.name }}
                    </label>
                    {% endfor %}

                    {{ data.description|markdown }}

                    {{ buttons }}
                </li>
            {% endfor %}
            </ul>
        </div>
    {% else %}
        {% for data in character_data[tab] %}
            {% for sub in data.sub|default([data]) %}
                {% if character[tab] == sub.name %}

                    {% if sub.name != data.name %}
        <strong>({{ character[tab] }})</strong>
                    {% endif %}

        {{ data.description|markdown }}

                {% endif %}
            {% endfor %}
        {% endfor %}
    {% endif %}
    </li>
</form>
{% endfor %}
{% endblock content %}
