{% extends "layout.html" %}
{% block body %}
{% if character.id %}
<h2 class="icon fa-pencil">Character</h2>

<form action="{{ url_for('character.edit', current_phase=current_phase, character_id=character.id) }}" method="post">
{% else %}
<h2 class="icon fa-plus">Character</h2>

<form action="{{ url_for('character.new') }}" method="post">
{% endif %}
    <button name="button" value="save" class="hidden">Hidden</button>

<div id="edit-character">

    <div id="description" class="nice-panel brand">
        <div class="nice-panel-heading">
            Description
        </div>
        <div class="nice-panel-content">

            <div class="nice-control-group">
                <span class="nice-input-addon">
                    Name
                </span>
                <input type="text" class="nice-form-control" name="character.name" value="{{ character.name }}" />
            </div>

            <div class="nice-control-group">
                <span class="nice-input-addon">
                    Alignment {{ character.alignment }}
                </span>
                <select class="nice-form-control" name="character.alignment">
                {% for b in ['good', 'neutral', 'evil'] %}
                {% for a in ['lawful', 'neutral', 'chaotic'] %}
                    {% set alignment = ('true' if a == b else a) + ' ' + b %}
                    {% if alignment == character.alignment %}
                    <option value="{{ alignment }}" selected>{{ alignment|capitalize }}</option>
                    {% else %}
                    <option value="{{ alignment }}">{{ alignment|capitalize }}</option>
                    {% endif%}
                {% endfor %}
                {% endfor %}
                </select>
            </div>
        </div>
    </div>

    <div id="spells" class="nice-panel brand">
        <div class="nice-panel-heading">
            Spells
        </div>
        <div class="nice-panel-content">
            <ul>
                <li>
                    <strong>Cantrip</strong>
                    <ul>
                        {% for i in range([character.cantrips_known, character.spells.cantrip|length]|max) %}
                        <li>

<select{{ {
        "class": "nice-form-control",
        "name": ['character', 'spells', 'cantrip', i]|join('.')
        }|xmlattr }}>
    {% for option in items.spells[character.class|lower]['cantrip'] %}
        <option{{ {
                "selected": "selected" if character.spells.cantrip[i] == option.name else None,
                "value": option.name
                }|xmlattr }}>
            {{ option.label|default(option.name|capitalize) }}
        </option>
    {% endfor %}
</select>

                        </li>
                        {% endfor %}
                    </ul>
                </li>
                {%- for level, spells in character.spells.items()|sort() %}
                {%- if level != 'cantrip' and character.spell_slots[level] -%}
                <li>
                    <strong>{{ level|field_title }}</strong>
                    <ul>
                        {% for i in range([character.spell_slots[level], spells|length]|max) %}
                        <li>

<select{{ {
        "class": "nice-form-control",
        "name": ['character', 'spells', level, i]|join('.')
        }|xmlattr }}>
    {% for option in items.spells[character.class|lower][level] %}
        <option{{ {
                "selected": "selected" if spells[i] == option.name else None,
                "value": option.name
                }|xmlattr }}>
            {{ option.label|default(option.name|capitalize) }}
        </option>
    {% endfor %}
</select>

                        </li>
                        {% endfor %}
                    </ul>
                </li>
                {%- endif %}
                {%- endfor %}
            </ul>
        </div>
    </div>

    <div id="save">
        <button name="button" value="cancel" class="nice-btn muted icon fa-ban">Cancel</button>
        <button name="button" value="update" class="nice-btn info icon fa-refresh">Update</button>
        <button name="button" value="save" class="nice-btn primary icon fa-save">Save</button>
    </div>
</div>

</form>
{% endblock %}
