{% extends "layout.html" %}
{% block body %}
<h2 class="icon fa-user-secret">Character list</h2>

<table class="nice-table condensed striped bordered hover" id="character">
    <thead>
        <tr>
            <th>Name</th>
            <th>Race</th>
            <th>Class</th>
            <th>Alignment</th>
            {% if users %}
            <th>User</th>
            {% endif %}
            <th>Progress</th>
            <th>
            {% if party %}
                Party:
                <a href="{{ url_for('party.show', party_id=party.id) }}" class="nice-btn">{{ party.name }}</a>
            {% endif %}
            </th>
        </tr>
    </thead>
    <tbody>
        {% for character in characters %}
        <tr>
            <td>{{ character.name }}</td>
            <td>{{ character.race }}</td>
            <td>{{ character.class }}</td>
            <td>{{ character.alignment }}</td>

            {% if users and character.user_id %}
            <td>{{ users[character.user_id].username }}</td>
            {% endif %}

            <td>
                <div class="nice-progress good">
                    {% set percent = (character.xp - character.xp_level) * 100.0 / (character.xp_next_level - character.xp_level) %}
                    <div class="nice-progress-fill" style="width: {{ percent }}%;">
                        {%- if percent > 40.0 -%}
                        Level {{ character.level }} ({{ character.xp }} / {{ character.xp_next_level }})
                        {%- elif percent > 25.0 -%}
                        Level {{ character.level }}
                        {%- else -%}
                        {{ character.level }}
                        {%- endif -%}
                    </div>
                </div>
            </td>

            <td>
                <div class="nice-btn-group pull-right">
                {% if party %}
                    {% if character.id in members %}
                    <a href="{{ url_for('party.modify', party_id=party.id, action='del', character_id=character.id) }}" class="nice-btn bad icon fa-user-times">Remove</a>
                    {% else %}
                    <a href="{{ url_for('party.modify', party_id=party.id, action='add', character_id=character.id) }}" class="nice-btn good icon fa-user-plus">Add to {{ party.name }}</a>
                    {% endif %}
                {% endif %}
                    <a href="{{ url_for('character.show', character_id=character.id) }}" class="nice-btn icon fa-eye">View</a>
                {% if character.user_id == request.user.id or 'dm' in request.user.role %}
                    <a href="{{ url_for('character.edit', character_id=character.id) }}" class="nice-btn icon fa-cog">Edit</a>
                {% endif %}
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
    <tfooter>
        <tr>
            {% if users %}
            <td colspan="6"></td>
            {% else%}
            <td colspan="5"></td>
            {% endif %}
            <td>
                <div class="nice-btn-group pull-right">
                    <a href="{{ url_for('character.new') }}" class="nice-btn accent icon fa-plus">Create</a>
                </div>
            </td>
        </tr>
    </tfooter>
</table>
{% endblock %}
