{% extends "layout.html" %}
{% block body %}
<h2 class="icon fa-user-secret">Character</h2>

<div id="view-character">

    <div id="description" class="nice-panel brand">
        <div class="nice-panel-heading">
            Description
        </div>
        <table class="nice-table condensed striped bordered">
            <thead>
                <tr>
                    <th colspan="2" class="control-wrapper">
                        <h3>{{ character.name }}</h3>

                        <div class="nice-progress good">
                            {%- set percent = (character.xp - character.xp_level) * 100.0 / (character.xp_next_level - character.xp_level) -%}
                            <div class="nice-progress-fill" style="width: {{ percent }}%; height: 1.25rem;">
                                {{ character.level }} ({{ character.xp }} / {{ character.xp_next_level }})
                            </div>
                        </div>

                        {% if character.user_id == request.user.id or 'admin' in request.user.role or 'dm' in request.user.role %}
                        <div class="nice-btn-group object-control">
                            <a href="{{ url_for('character.edit', character_id=character.id) }}" class="nice-btn icon fa-cog">Edit</a>
                            <a href="{{ url_for('character.download', character_id=character.id) }}" class="nice-btn icon fa-download">Download</a>
                            {% if 'admin' in request.user.role %}
                            <a href="{{ url_for('character.raw', character_id=character.id) }}" class="nice-btn icon fa-database">Raw</a>
                            {% endif %}
                            {% if character.user_id == request.user.id %}
                            <a href="{{ url_for('character.delete', character_id=character.id) }}" class="nice-btn icon bad fa-trash">Delete</a>
                            {% endif %}
                        </div>
                        {% endif %}
                    </th>
                </tr>
            </thead>
        </table>
    </div>

    <div id="info" class="nice-panel brand">
        <div class="nice-panel-heading">
            Info
        </div>
        <table class="nice-panel-content nice-table condensed bordered">
            <thead>
                <tr>
                    <th>Class</th>
                    <th>Background</th>
                    <th>Player</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ character.class }}</td>
                    <td>{{ character.background }}</td>
                    <td>{{ user.username }}</td>
                <tr>
            </tbody>
            <thead>
                <tr>
                    <th>Race</th>
                    <th>Alignment</th>
                    <th>XP</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ character.race }}</td>
                    <td>{{ character.alignment }}</td>
                    <td>{{ character.xp }} XP</td>
                <tr>
            </tbody>
        </table>
    </div>

    <div id="base" class="nice-panel brand">
        <div class="nice-panel-heading">
            Base
        </div>
        <table class="nice-panel-content nice-table condensed bordered">
            <tbody>
                <tr>
                    <th>Armor Class</th>
                    <td>{{ character.armor_class }}</td>
                </tr>
                <tr>
                    <th>Hit Points</th>
                    <td>{{ character.hit_points }}</td>
                </tr>
                <tr>
                    <th>Hit Dice</th>
                    <td>{{ character.level}}d{{ character.hit_dice }}</td>
                </tr>
                <tr>
                    <th>Speed</th>
                    <td>{{ character.speed }} ft.</td>
                </tr>
                <tr>
                    <th>Height</th>
                    <td>{{ character.height }} ft.</td>
                </tr>
                <tr>
                    <th>Weight</th>
                    <td>{{ character.weight }} lb.</td>
                </tr>
                <tr>
                    <th>Age</th>
                    <td>{{ character.age }} years</td>
                </tr>
                <tr>
                    <th>Initiative Modifier</th>
                    <td>{{ character.initiative_bonus|bonus }}</td>
                </tr>
                <tr>
                    <th>Passive Perception</th>
                    <td>{{ character.passive_perception }}</td>
                </tr>
                <tr>
                    <th>Proficiency Bonus</th>
                    <td>{{ character.proficiency|bonus }}</td>
                </tr>
                <tr>
                    <th>Expertise Bonus</th>
                    <td>{{ (character.proficiency*2)|bonus }}</td>
                </tr>
                {% if character.spell_stat %}
                <tr>
                    <th>Spells</th>
                    <td>
                        <ul>
                            <li>
                                <strong>Class:</strong>
                                {{ character.class }}
                            </li>
                            <li>
                                <strong>Ability:</strong>
                                {{ character.spell_stat }}
                            </li>
                            <li>
                                <strong>DC:</strong>
                                {{ character.spell_safe_dc }}
                            </li>
                            <li>
                                <strong>Attack Modifier:</strong>
                                {{ character.spell_attack_modifier|bonus }}
                            </li>
                        </dl>
                    </td>
                </tr>
                {% endif %}
                {% if character.appearance %}
                <tr>
                    <th>Appearance</th>
                    <td>{{ character.appearance|markdown }}</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>

    <div id="traits" class="nice-panel brand">
        <div class="nice-panel-heading">
            Traits
        </div>
        <div class="nice-panel-content">
            <ul>
            {% for info, description in character.info.items() %}
                <li>
                    <strong>{{ info }}</strong>
                    {{ description|markdown }}
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>

    <div id="personality" class="nice-panel brand">
        <div class="nice-panel-heading">
            Personality
        </div>
        <table class="nice-panel-content nice-table condensed bordered">
            <tbody>
                <tr>
                    <th>Alignment</th>
                    <td>{{ character.alignment }}</td>
                </tr>
                <tr>
                    <th>Traits</th>
                    <td>{{ character.personality.traits }}</td>
                </tr>
                <tr>
                    <th>Ideals</th>
                    <td>{{ character.personality.ideals }}</td>
                </tr>
                <tr>
                    <th>Bonds</th>
                    <td>{{ character.personality.bonds }}</td>
                </tr>
                <tr>
                    <th>Flaws</th>
                    <td>{{ character.personality.flaws }}</td>
                </tr>
                <tr>
                    <th>Backstory</th>
                    <td>{{ character.personality.backstory }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div id="abilities" class="nice-panel brand">
        <div class="nice-panel-heading">
            Abilities
        </div>
        <div class="nice-panel-content">
            <ul>
            {% for name, ability in character.abilities.items() %}
                <li>
                    <strong>{{ name }}</strong>
                    {{ (ability.description % ability)|markdown }}
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>

    {% if character.spells %}
    <div id="spells" class="nice-panel brand">
        <div class="nice-panel-heading">
            Spells
        </div>
        <div class="nice-panel-content">
            <ul>
                {% if character.spells['cantrip']|default([]) -%}
                <li>
                    <strong>Cantrip</strong>
                    <ul>
                        {% for spell in character.spells['cantrip'] -%}
                        <li>{{ spell }}</li>
                        {%- endfor %}
                    </ul>
                </li>
                {% endif %}
                {%- for level, spells in character.spells.items()|sort() %}
                {%- if level != 'cantrip' and spells -%}
                <li>
                    <strong>{{ level|field_title }}</strong>
                    (Spell slots: {{ character.spell_slots[level] }})
                    <ul>
                        {% for spell in spells %}
                        <li>{{ spell }}</li>
                        {% endfor %}
                    </ul>
                </li>
                {%- endif %}
                {%- endfor %}
            </ul>
        </div>
    </div>
    {% endif %}

    <div id="equipment" class="nice-panel brand">
        <div class="nice-panel-heading">
            Equipment
        </div>
        <table class="nice-panel-content nice-table condensed bordered">
            <tbody>
                {% if character.weapons %}
                <tr>
                    <th>Weapons</th>
                    <td>
                        <ul>
                        {% for count, weapon in character.weapons|unique %}
                            <li>
                                {% if count > 1 -%}
                                    {{ count }} x
                                {% endif -%}
                                <strong>{{ weapon.name }}:</strong>
                                {{ weapon.damage.notation }}
                                {{ weapon.damage.type_label }},
                                Hit: {{ weapon.bonus|bonus }}

                                {% set props = {
                                    'two-handed': 'Two-Handed',
                                    'versatile': 'Versatile',
                                    'light': 'Light',
                                    'finesse': 'Finesse',
                                    'ammunition': 'Ammonution',
                                    'loading': 'Loading',
                                    'thrown': 'Thrown'
                                    }
                                %}
                                {% for prop, desc in props.items() %}
                                    {% if prop in weapon.property %}
                                        , {{ desc }}
                                    {% endif %}
                                {% endfor %}
                                {% if range in weapon %}
                                (Range: {{ weapon.range.min }}/{{ weapon.range.max }})
                                {% endif %}

                                {% if "notation_alt" in weapon.damage %}
                                <br/>
                                <em>({{ weapon.use_alt }}:
                                {{ weapon.damage.notation_alt }}
                                {{ weapon.damage.type_label }},
                                Hit: {{ weapon.bonus_alt|bonus }})
                                </em>
                                {% endif %}
                            </li>
                        {% endfor %}
                        </ul>
                    </td>
                </tr>
                {% endif %}
                {% if character.weapons %}
                <tr>
                    <th>Armor</th>
                    <td>
                        <ul>
                        {% for armor in character.armor %}
                            <li>
                                <strong>{{ armor.name }}:</strong>
                                Armor Class: {{ armor.value }}
                                {% if "strength" in armor %}
                                , Strength: {{ armor.strength }}
                                {% endif %}
                            </li>
                        {% endfor %}
                        </ul>
                    </td>
                </tr>
                {% endif %}
                {% if character.items.artisan %}
                <tr>
                    <th>Artisan</th>
                    <td>
                        <ul>
                        {% for item in character.items.artisan %}
                            <li>
                                {{ item.name }}
                            </li>
                        {% endfor %}
                        </ul>
                    </td>
                </tr>
                {% endif %}
                {% if character.items.kits %}
                <tr>
                    <th>Kits</th>
                    <td>
                        <ul>
                        {% for item in character.items.kits %}
                            <li>
                                {{ item.name }}
                            </li>
                        {% endfor %}
                        </ul>
                    </td>
                </tr>
                {% endif %}
                {% if character.items.gaming %}
                <tr>
                    <th>Gaming</th>
                    <td>
                        <ul>
                        {% for item in character.items.gaming %}
                            <li>
                                {{ item.name }}
                            </li>
                        {% endfor %}
                        </ul>
                    </td>
                </tr>
                {% endif %}
                {% if character.items.musical %}
                <tr>
                    <th>Musical</th>
                    <td>
                        <ul>
                        {% for item in character.items.musical %}
                            <li>
                                {{ item.name }}
                            </li>
                        {% endfor %}
                        </ul>
                    </td>
                </tr>
                {% endif %}
                {% if character.items.misc %}
                <tr>
                    <th>Miscellaneous</th>
                    <td>
                        <ul>
                        {% for item in character.items.misc %}
                            <li>
                                {{ item }}
                            </li>
                        {% endfor %}
                        </ul>
                    </td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>

    <div id="proficiencies" class="nice-panel brand">
        <div class="nice-panel-heading">
            Proficiencies
        </div>
        <table class="nice-panel-content nice-table condensed bordered">
            <tbody>
                {% if character.languages %}
                <tr>
                    <th>Languages</th>
                    <td>
                        <dl>
                    {% for lang in items.languages.common + items.languages.exotic %}
                        {% if lang.name in character.languages %}
                            <dt>{{ lang.label }}</dt>
                            <dd>
                                <strong>Speakers:</strong> {{ lang.speakers }},
                                <strong>Script:</strong> {{ lang.script }}</dd>
                        {% endif %}
                    {% endfor %}
                        </dl>
                    </td>
                </tr>
                {% endif %}
                {% if character.proficiencies.armor %}
                <tr>
                    <th>Armor</th>
                    <td>
                        <ul>
                    {% for armor in character.proficiencies.armor %}
                            <li>{{ armor }}</li>
                    {% endfor %}
                        </ul>
                    </td>
                </tr>
                {% endif %}
                {% if character.proficiencies.weapons %}
                <tr>
                    <th>Weapons</th>
                    <td>
                        <ul>
                    {% for weapon in character.proficiencies.weapons %}
                            <li>{{ weapon }}</li>
                    {% endfor %}
                        </ul>
                    </td>
                </tr>
                {% endif %}
                {% if character.proficiencies.tools %}
                <tr>
                    <th>Tools</th>
                    <td>
                        <ul>
                    {% for tool in character.proficiencies.tools%}
                            <li>
                                {{ tool }}
                                {% if tool in character.proficiencies.expertise %}
                                (Expertise)
                                {% endif %}
                            </li>
                    {% endfor %}
                        </ul>
                    </td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>

    <div id="statistics" class="nice-panel brand">
        <div class="nice-panel-heading">
            Statistics
        </div>
        <table class="nice-panel-content nice-table condensed bordered">
            <thead>
                <tr>
                    <th></th>
                    <th>Statistic</th>
                    <th>Modifier</th>
                </tr>
            </thead>
            <tbody>
                {% for stat in items.statistics %}
                <tr>
                    <th>{{ stat.label }}</th>
                    <td>{{ character.stats[stat.name] }}</td>
                    <td>
                        {{ character.modifiers[stat.name]|bonus }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br/>
        <table class="nice-panel-content nice-table condensed bordered">
            <tbody>
            </tbody>
        </table>
    </div>


    <div id="saving-throws" class="nice-panel brand">
        <div class="nice-panel-heading">
            Saving Throws
        </div>
        <table class="nice-panel-content nice-table condensed bordered">
            <tbody>
                {% for stat in items.statistics %}
                <tr>
                    <td>
                        {% if stat.name in character.proficiencies.saving_throws %}
                        <span class="icon fa-check-square-o">&nbsp;</span>
                        {% else %}
                        <span class="icon fa-square-o">&nbsp;</span>
                        {% endif %}
                        {% if stat.name in character.proficiencies.expertise %}
                        <span class="icon fa-check-square-o">&nbsp;</span>
                        {% elif character.proficiencies.expertise %}
                        <span class="icon fa-square-o">&nbsp;</span>
                        {% endif %}
                    </td>
                    <td>
                        {{ character.saving_throws[stat.name]|bonus }}
                    </td>
                    <th>{{ stat.label }}</th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div id="skills" class="nice-panel brand">
        <div class="nice-panel-heading">
            Skills
        </div>
        <table class="nice-panel-content nice-table condensed bordered">
        {% for stat in items.statistics %}
            <thead>
                <th colspan="3">{{ stat.label }}</th>
            </thead>
            <tbody>
            {% for skill in items.skills %}
            {% if skill.stat == stat.name %}
                <tr>
                    <td>
                        {% if skill.name in character.proficiencies.skills %}
                        <span class="icon fa-check-square-o">&nbsp;</span>
                        {% else %}
                        <span class="icon fa-square-o">&nbsp;</span>
                        {% endif %}
                        {% if skill.name in character.proficiencies.expertise %}
                        <span class="icon fa-check-square-o">&nbsp;</span>
                        {% elif character.proficiencies.expertise %}
                        <span class="icon fa-square-o">&nbsp;</span>
                        {% endif %}
                    </td>
                    <td>
                        {{ character.skills[skill.name]|bonus }}
                    </td>
                    <th>{{ skill.label }}</th>
                </tr>
            {% endif %}
            {% endfor %}
            </tbody>
        {% endfor %}
        </table>
    </div>

</div>
{% endblock %}
