@charset "UTF-8";
.product-icon.d20:before {
    background: transparent url('../img/d20.png') no-repeat center center;
    background-size: auto 2em;
    display: inline-block;
    width: 2em;
    height: 2em;
    content: "";
}

.disabled {
    color: gray; }

div.widget-grid {
    display: grid;
    grid-gap: 1em .5em;
    grid-template-columns: 1fr 1fr;}

div#edit-monster {
    display: grid;
    grid-gap: 1em .5em;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, min-content);
    grid-template-areas: "description speed"
                         "statistics attributes"
                         "attacks multiattacks"; }

div#view-monster {
    display: grid;
    grid-gap: 1em .5em;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: repeat(4, min-content);
    grid-template-areas: "description actions"
                         "statistics actions"
                         "attributes actions"
                         "multiattacks actions"; }

div#view-campaign {
    display: grid;
    grid-gap: 1em .5em;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(4, min-content) auto;
    grid-template-areas: "title title"
                         "control description"
                         "toc description"
                         "toc story"
                         ". story"; }

div#view-character {
    display: grid;
    grid-gap: 1em .5em;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(5, auto);
    grid-template-areas: "description description info"
                         "base statistics skills"
                         "equipment saving-throws skills"; }
/*                          "spells abilities  traits" */
/*                          "proficiencies abilities  traits" */
/*                          ". abilities traits"; } */

div#edit-character {
    display: grid;
    grid-gap: 1em .5em;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto; }
    div#edit-character #save {
        grid-row: -1;
        grid-column: -1; }

div#view-encounter {
    display: grid;
    grid-gap: 1em .5em;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "description challenge-rating"
                         "description modified-rating"
                         "initiative initiative"
                         "monsters monsters"; }
/*    div#view-encounter > #monsters > .monster {
        display: grid;
        grid-gap: 0em .5em;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, auto);
        grid-template-areas: "info actions"
                            "info actions"
                            "stats actions"
                            "traits actions"; }*/
    div#view-encounter > #monsters > .monster {
        display: grid;
        grid-gap: 0em .5em;
        grid-template-columns: 1fr 1fr;}

@media screen and (max-width: 100em) and (orientation: portrait) {
    div#view-campaign {
        grid-template-columns: auto;
        grid-template-rows: repeat(5, auto);
        grid-template-areas: "title"
                            "control"

                            "toc"
                            "description"
                            "story"; }
    div#edit-monster {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, min-content);
        grid-template-areas: "description speed"
                            "statistics attributes"
                            "actions actions"; }

    div#view-monster {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, min-content);
        grid-template-areas: "description attributes"
                            "statistics statistics"
                            "actions actions"; }
    }

div#view-character > #description { grid-area: description; }
div#view-character > #info { grid-area: info; }
div#view-character > #equipment { grid-area: equipment; }
div#view-character > #skills { grid-area: skills; }
div#view-character > #statistics { grid-area: statistics; }
div#view-character > #saving-throws { grid-area: saving-throws; }
/* div#view-character > #traits { grid-area: traits; } */
/* div#view-character > #spells { grid-area: spells; } */
/* div#view-character > #proficiencies { grid-area: proficiencies; } */
/* div#view-character > #abilities { grid-area: abilities; } */

div#view-campaign > #title { grid-area: title; }
div#view-campaign > #description { grid-area: description; }
div#view-campaign > #control { grid-area: control; }
div#view-campaign > #toc { grid-area: toc; }
div#view-campaign > #story { grid-area: story; }

div#edit-monster > #description { grid-area: description; }
div#edit-monster > #speed { grid-area: speed; }
div#edit-monster > #statistics{ grid-area: statistics; }
div#edit-monster > #attributes { grid-area: attributes; }
div#edit-monster > #actions { grid-area: actions; }
div#edit-monster > #multiattacks { grid-area: multiattacks; }

div#view-monster > #description { grid-area: description; }
div#view-monster > #speed { grid-area: speed; }
div#view-monster > #statistics { grid-area: statistics; }
div#view-monster > #attributes { grid-area: attributes; }
div#view-monster > #actions { grid-area: actions; }

div#view-encounter > #description { grid-area: description; }
div#view-encounter > #challenge-rating { grid-area: challenge-rating; }
div#view-encounter > #modified-rating { grid-area: modified-rating; }
div#view-encounter > #initiative { grid-area: initiative; }
div#view-encounter > #monsters { grid-area: monsters; }

/*div#view-encounter > #monsters > .monster > .monster-info { grid-area: info; }
div#view-encounter > #monsters > .monster > .monster-stats { grid-area: stats; }
div#view-encounter > #monsters > .monster > .monster-traits { grid-area: traits; }
div#view-encounter > #monsters > .monster > .monster-multiattack { grid-area: actions; }
div#view-encounter > #monsters > .monster > .monster-attacks { grid-area: actions; }*/

div#view-campaign > #party {
    position: fixed; left: 0; width: 30em; }
div#view-campaign > #party.hiding {
    left: -29.5em; }
    div#view-campaign > #party.hiding > div.nice-panel-heading {
        position: relative; left: 3em; }
    div#view-campaign > #party.hiding div.nice-panel-heading {
        text-align: right; }
    div#view-campaign > #party.hiding div.nice-panel-heading span.icon {
        float: right; margin-left: 1em; }

div#view-campaign > #npc {
    position: fixed; right: 0; width: 30em; }
div#view-campaign > #npc.hiding {
    right: -29.5em; }
    div#view-campaign > #npc.hiding > div.nice-panel-heading {
        position: relative; right: 3em; }
    div#view-campaign > #npc.hiding > div.nice-panel-heading span.icon {
        float: left; margin-right: 1em; }
