@charset "UTF-8";
.product-icon.d20:before {
    background: transparent url('../img/d20.png') no-repeat center center;
    background-size: auto 2em;
    display: inline-block;
    width: 2em;
    height: 2em;
    content: "";
}

table#character thead th,
    table#party thead th,
    table#encounter thead th,
    table#monsterlist thead th { font-weight: bold; text-align: center; }
table#character thead tr:first-child th:first-child,
    table#party thead tr:first-child th:first-child,
    table#encounter thead tr:first-child th:first-child,
    table#monsterlist thead tr:first-child th:first-child { font-weight: bold; text-align: left; }
table#character tbody td,
    table#party tbody td,
    table#encounter tbody td,
    table#monsterlist tbody td { text-align: center; }
table#character tbody td:first-child,
    table#party tbody td:first-child,
    table#encounter tbody td:first-child,
    table#monsterlist tbody td:first-child { font-weight: bold; text-align: left; }

table#statblock thead th { font-weight: bold; text-align: center; }
table#statblock tbody td { text-align: center; }
table#monsterstats tbody th { text-align: right; }

div#edit-monster {
    display: grid;
    grid-gap: 1em .5em;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, min-content);
    grid-template-areas: "description speed"
                         "statistics attributes"
                         "attacks multiattacks"; }

div#view-monster {
    display: grid;
    grid-gap: 1em .5em;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: repeat(4, min-content);
    grid-template-areas: "description actions"
                         "statistics actions"
                         "attributes actions"
                         "multiattacks actions"; }

div#view-campaign {
    display: grid;
    grid-gap: 1em .5em;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(4, min-content) auto;
    grid-template-areas: "title title"
                         "control description"
                         "toc description"
                         "toc story"
                         ". story"; }

div#view-character {
    display: grid;
    grid-gap: 1em .5em;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(5, min-content);
    grid-template-areas: "description description info"
                         "base statistics skills"
                         "equipment saving-throws skills"
                         "equipment proficiencies skills"
                         "equipment . skills"; }

@media screen and (max-width: 100em) and (orientation: portrait) {
    div#view-campaign {
        grid-template-columns: auto;
        grid-template-rows: repeat(5, auto);
        grid-template-areas: "title"
                            "control"
                            "toc"
                            "description"
                            "story"; }
    div#edit-monster {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, min-content);
        grid-template-areas: "description speed"
                            "statistics attributes"
                            "actions actions"; }

    div#view-monster {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, min-content);
        grid-template-areas: "description attributes"
                            "statistics statistics"
                            "actions actions"; }
    }

div#view-character > #description { grid-area: description; }
div#view-character > #info { grid-area: info; }
div#view-character > #equipment { grid-area: equipment; }
div#view-character > #proficiencies { grid-area: proficiencies; }
div#view-character > #skills { grid-area: skills; }
div#view-character > #statistics { grid-area: statistics; }
div#view-character > #saving-throws { grid-area: saving-throws; }

div#view-campaign > #title { grid-area: title; }
div#view-campaign > #description { grid-area: description; }
div#view-campaign > #control { grid-area: control; }
div#view-campaign > #toc { grid-area: toc; }
div#view-campaign > #story { grid-area: story; }

div#edit-monster > #description { grid-area: description; }
div#edit-monster > #speed { grid-area: speed; }
div#edit-monster > #statistics{ grid-area: statistics; }
div#edit-monster > #attributes { grid-area: attributes; }
div#edit-monster > #actions { grid-area: actions; }
div#edit-monster > #multiattacks { grid-area: multiattacks; }

div#view-monster > #description { grid-area: description; }
div#view-monster > #speed { grid-area: speed; }
div#view-monster > #statistics{ grid-area: statistics; }
div#view-monster > #attributes { grid-area: attributes; }
div#view-monster > #actions { grid-area: actions; }

div#view-campaign > #party {
    position: fixed; left: 0; width: 30em; }
div#view-campaign > #party.hiding {
    left: -29.5em; }
    div#view-campaign > #party.hiding > div.nice-panel-heading {
        position: relative; left: 3em; }
    div#view-campaign > #party.hiding div.nice-panel-heading {
        text-align: right; }
    div#view-campaign > #party.hiding div.nice-panel-heading span.icon {
        float: right; margin-left: 1em; }

div#view-campaign > #npc {
    position: fixed; right: 0; width: 30em; }
div#view-campaign > #npc.hiding {
    right: -29.5em; }
    div#view-campaign > #npc.hiding > div.nice-panel-heading {
        position: relative; right: 3em; }
    div#view-campaign > #npc.hiding > div.nice-panel-heading span.icon {
        float: left; margin-right: 1em; }
