@charset "UTF-8";
.product-icon.d20:before {
    background: transparent url('../img/d20.png') no-repeat center center;
    background-size: auto 2em;
    display: inline-block;
    width: 2em;
    height: 2em;
    content: "";
}

table#character thead th,
    table#party thead th,
    table#encounter thead th,
    table#monsterlist thead th { font-weight: bold; text-align: center; }
table#character thead tr:first-child th:first-child,
    table#party thead tr:first-child th:first-child,
    table#encounter thead tr:first-child th:first-child,
    table#monsterlist thead tr:first-child th:first-child { font-weight: bold; text-align: left; }
table#character tbody td,
    table#party tbody td,
    table#encounter tbody td,
    table#monsterlist tbody td { text-align: center; }
table#character tbody td:first-child,
    table#party tbody td:first-child,
    table#encounter tbody td:first-child,
    table#monsterlist tbody td:first-child { font-weight: bold; text-align: left; }

table#statblock thead th { font-weight: bold; text-align: center; }
table#statblock tbody td { text-align: center; }
table#monsterstats tbody th { text-align: right; }

div#campaign {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto max-content max-content max-content 100%;
    grid-template-areas: "title title control"
                         "toc story description"
                         "toc story info"
                         "party story info"
                         ". story info"; }

@media screen and (max-width: 60em) and (orientation: portrait) {
    div#campaign {
        grid-template-columns: 2fr 1fr;
        grid-template-rows: auto max-content max-content max-content 100%;
        grid-template-areas: "title control"
                            "toc toc"
                            "description description"
                            "story info"; } }

div#campaign > #title { grid-area: title; }
div#campaign > #description { grid-area: description; }
div#campaign > #control { grid-area: control; }
div#campaign > #toc { grid-area: toc; }
div#campaign > #story { grid-area: story; }
div#campaign > #party { grid-area: party; }
div#campaign > #info { grid-area: info; }
