<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="white">
        <meta name="application-name" content="{{ info.title }} {{ info.version }}">
        <meta name="author" content="{{ info.author }}">
        <title>{{ info.title }}</title>
        <link href="{{ url_for('static', filename='css/nice.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/dnd-machine.css') }}" rel="stylesheet">
        <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='img/dnd-machine-icon.ico') }}">
        <link rel="apple-touch-icon-precomposed" type="image/png" href="{{ url_for('static', filename='img/dnd-machine-icon.png') }}">
    </head>
    <body class="nice-fixed-header">
        <div id="app" />
        <script src="{{ url_for('static', filename='js/vendors~dnd-machine.js') }}" type="text/javascript"></script>
        <script src="{{ url_for('static', filename='js/components~dnd-machine.js') }}" type="text/javascript"></script>
        <script src="{{ url_for('static', filename='js/dnd-machine.js') }}" type="text/javascript"></script>
    </body>
</html>
