{% extends "layout.html" %}

{% set buttons %}
<div class="nice-btn-group pull-right">
    {% if last %}
    <button name="button" value="save" class="hidden">Save</button>
    {% else %}
    <button name="button" value="next" class="hidden">Next</button>
    {% endif %}

    <button name="button" value="cancel" class="nice-btn muted icon fa-ban">Cancel</button>
    {% if last %}
    <button name="button" value="save" class="nice-btn accent icon fa-save">Save</button>
    {% else %}
    <button name="button" value="next" class="nice-btn primary icon fa-arrow-right">Next</button>
    {% endif %}
</div>
<div class="clearfix"></div>
{% endset %}

{% block body %}
{% block title %}<h1 class="icon fa-question">Title</h1>{% endblock title %}

<div class="nice-tabs-wrapper" id="tabs">
    <ul class="nice-tabs">
    {% for tab, done, current in tabs|completed(completed) %}
        {% if done %}
        <li data-name="{{ tab }}">
            <a href="#" class="icon fa-check-square-o">
                {{ tab|capitalize }}
            </a>
        </li>
        {% elif current %}
        <li class="current" data-name="{{ tab }}">
            <a href="#" class="icon fa-square-o">
                {{ tab|capitalize }}
            </a>
        </li>
        {% else %}
        <li data-name="{{ tab }}">
            <a href="#" class="icon fa-square-o">
                {{ tab|capitalize }}
            </a>
        </li>
        {% endif %}
    {% endfor %}
    </ul>

    <ul class="nice-tab-content">

{% block content %}{% endblock content %}

    </ul>
</div>
{% endblock body %}
